<div class="mb-3 flex-between">
  <p class="h1">{{ 'groups' | t }}</p>
  <div>
    <button class="btn blue-btn" routerLink="./form" *ngIf="userSession.hasPermission('switchboards', 'create')">
      <i class="la la-plus ms-1"></i>
      <span>{{ 'add_group' | t }}</span>
    </button>
  </div>
</div>
<app-data-table tableUrl="acds" [columns]="columns" [hasActionsHeader]="userSession.canModify('switchboards')" [hasCheckColumn]="userSession.hasPermission('switchboards', 'update') && dataTable.hasItems"
                (openMultipleEdit)="openMultipleEdit()" (fetchItems)="fetchItems()">
	<tr *ngFor="let item of dataTable.items">
    <td *ngIf="userSession.hasPermission('switchboards', 'update')">
      <mat-checkbox (change)="dataTable.checkItem(item, $event.checked)" [checked]="item.checked"></mat-checkbox>
    </td>
		<td>
      <a [routerLink]="['./', 'form', item.id]" *ngIf="userSession.hasPermission('switchboards', 'update')">{{ item.name }}</a>
      <span *ngIf="!userSession.hasPermission('switchboards', 'update')">{{ item.name }}</span>
    </td>
    <td>{{ item.number }}</td>
    <td>{{ item.type }}</td>
    <td>{{ item.unit }}</td>
    <td class="row-icons" *ngIf="userSession.canModify('switchboards')">
      <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item class="row-action" [routerLink]="['./', 'form', item.id]" *ngIf="userSession.hasPermission('switchboards', 'update')">
          <mat-icon>edit</mat-icon>
          <span>{{ 'edit' | t }}</span>
        </button>
        <button mat-menu-item class="row-action" (click)="deleteItem(item.id)" *ngIf="userSession.hasPermission('switchboards', 'delete')">
          <mat-icon>delete</mat-icon>
          <span>{{ 'delete' | t }}</span>
        </button>
      </mat-menu>
    </td>
	</tr>
</app-data-table>
