<div class="mb-3">
	<p class="h3">{{ 'audit_trail' | t }}</p>
</div>
<app-data-table [columns]="columns" [hasCheckColumn]="false" (fetchItems)="fetchItems()">
  <tr *ngFor="let item of dataTable.items">
    <td>{{ item.created }}</td>
    <td class="flex-grow-1">
      <span class="bold">{{ item.username }} </span>
      <span>{{ ('audit_trail_' + item.actionName) | t }}</span>
      <span *ngIf="item.resourceType">{{ item.resourceType | t }} </span>
      <a class="bold pointer" *ngIf="item.resourceType && item.actionName !== 'delete'" (click)="navigateToResource(item)">{{ item.resourceName | t }}</a>
      <span class="bold" *ngIf="item.resourceType && item.actionName === 'delete'">{{ item.resourceName | t }}</span>
    </td>
    <td>{{ item.ipAddress }}</td>
    <td>
      <mat-icon (click)="openChangesDialog(item.id)" class="pointer link" *ngIf="item.actionName === 'update'">library_books</mat-icon>
    </td>
  </tr>
</app-data-table>
