<form (ngSubmit)="submit()" [formGroup]="userForm">
  <div class="flex-between">
    <h1>{{ user ? ('edit_user' | t) : ('add_user' | t) }}</h1>
    <div>
      <button type="submit" class="btn blue-btn">{{ 'save' | t }}</button>
    </div>
  </div>
  <h4 class="mb-3">{{ 'personal_details' | t }}</h4>
  <div class="row">
    <div class="col-12 col-lg-3 mb-3">
      <mat-form-field class="w-100">
        <input matInput type="text" formControlName="firstName" [placeholder]="'first_name' | t" required>
        <mat-error>{{ errorMessages.required }}</mat-error>
      </mat-form-field>
    </div>
    <div class="col-12 col-lg-3 mb-3">
      <mat-form-field class="w-100">
        <input matInput type="text" formControlName="lastName" [placeholder]="'last_name' | t" required>
        <mat-error>{{ errorMessages.required }}</mat-error>
      </mat-form-field>
    </div>
    <div class="col-12 col-lg-3 mb-3">
      <mat-form-field class="w-100">
        <input matInput type="text" formControlName="workNumber" [placeholder]="'employee_number' | t">
      </mat-form-field>
    </div>
    <div class="col-12 col-lg-3 mb-3">
      <mat-form-field class="w-100">
        <input matInput type="email" formControlName="email" [placeholder]="'email' | t" required>
        <mat-error *ngIf="userForm.get('email').errors && userForm.get('email').errors.required">{{ errorMessages.required }}</mat-error>
        <mat-error *ngIf="userForm.get('email').errors && userForm.get('email').errors.pattern">{{ errorMessages.email }}</mat-error>
      </mat-form-field>
    </div>
    <div class="col-12 col-lg-3 mb-3">
      <mat-form-field class="w-100">
        <input matInput type="text" formControlName="mobile" [placeholder]="'mobile' | t">
        <mat-error>{{ errorMessages.phone }}</mat-error>
      </mat-form-field>
    </div>
    <div class="col-12 col-lg-3">
      <mat-form-field class="w-100 ">
        <input matInput type="text" formControlName="phone" [placeholder]="'phone' | t">
        <mat-error>{{ errorMessages.phone }}</mat-error>
      </mat-form-field>
    </div>
  </div>
  <h4 class="mb-3">{{ 'user_settings' | t }}</h4>
  <div class="row align-items-center">
    <div class="col-12 col-lg-3 mb-3">
      <mat-form-field class="w-100">
        <mat-select formControlName="authType" [placeholder]="'verification_type' | t">
          <mat-option *ngFor="let type of authTypes" [value]="type">{{ type }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-12 col-lg-3 mb-3">
      <mat-form-field class="w-100">
        <input matInput type="text" formControlName="username" [placeholder]="'username' | t" required>
        <mat-error>{{ errorMessages.required }}</mat-error>
      </mat-form-field>
    </div>
    <div class="col-12 col-lg-3 mb-3">
      <mat-form-field class="w-100 disabled">
        <input matInput type="password" formControlName="password" [placeholder]="'password' | t" [required]="!user">
        <span matSuffix class="enabled link pointer" (click)="openPasswordDialog()">{{ 'define_password' | t }}</span>
        <mat-error *ngIf="!user">{{ errorMessages.required }}</mat-error>
      </mat-form-field>
    </div>
    <div class="col-12 col-lg-3 mb-3">
      <mat-form-field class="w-100">
        <mat-select formControlName="lang" [placeholder]="'system_lang_default' | t">
          <mat-option *ngFor="let lang of langs" [value]="lang.code">{{ lang.key | t }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12 col-lg-3">
      <mat-form-field class="w-100">
        <mat-select formControlName="permission" [placeholder]="'permission' | t">
          <mat-option *ngFor="let permission of permissions" [value]="permission.id">{{ permission.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <app-unit-tree-select [units]="units" formControlName="units"></app-unit-tree-select>
</form>
