img
  width: 175px
  height: 175px

.container
  position: relative
  padding: 0
  width: fit-content

.overlay
  padding: 10px
  background: rgb(0, 0, 0)
  background: rgba(0, 0, 0, 0.5)
  height: 175px
  transition: .5s ease
  opacity: 0
  color: rgba(255, 255, 255, 0.65)
  font-size: 25px
  display: flex
  justify-content: end

.container:hover .overlay
  opacity: 1
