<div class="d-flex justify-content-between mb-3">
  <div class="d-flex">
    <ng-container *ngIf="getKeysLength() < types.length">
      <div>
        <button mat-flat-button type="button" class="ms-3 mb-4 btn blue-btn" (click)="newKey(newKeySelect.value)">{{ 'add_key' | t }}</button>
      </div>
      <mat-form-field id="selectKey" class="w-200p">
        <mat-label>{{ 'select_key' | t  }}</mat-label>
        <mat-select #newKeySelect>
          <mat-option *ngFor="let type of unusedTypes" [value]="type">{{ type }}</mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>
  </div>
  <mat-form-field class="w-200p">
    <mat-label>{{ 'select_language' | t  }}</mat-label>
    <mat-select [value]="activeLang" (valueChange)="activeLang = $event">
      <mat-option *ngFor="let lang of langs" [value]="lang.value">{{ lang.label }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<ng-container [formGroup]="formService.routerForm.get('keys.' + category)">
  <div class="group" [formArrayName]="type" *ngFor="let type of getKeys()">
    <div class="key-action" *ngFor="let action of formGroup.get(type)['controls']; let index = index" [formGroupName]="index">
      <div class="text-start w-200p margin-fix" *ngIf="index > 0">
        <span class="f-12 green-text" *ngIf="action.get('conditionResult').value === 'true'">{{ 'existing' | t }}</span>
        <span class="f-12 red-text" *ngIf="action.get('conditionResult').value === 'false'">{{ 'else' | t }}</span>
      </div>
      <div class="text-center margin-fix" *ngIf="index === 0">
        <p>{{ 'default' | t }}</p>
        <mat-radio-button [checked]="action.value.isDefault" (change)="setDefault(action)"></mat-radio-button>
      </div>
      <div class="text-center margin-fix" *ngIf="index === 0">
        <p>{{ 'key_number' | t }}</p>
        <p>{{ type }}</p>
      </div>
      <mat-form-field class="mx-3 w-200p">
        <mat-label>{{ 'activity' | t }}</mat-label>
        <mat-select formControlName="activityType" (ngModelChange)="setActivityName(action, $event)">
          <mat-option [value]="type.id" *ngFor="let type of formService.keyActivityTypes">{{ type.name | t }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="flex-grow-1" [ngSwitch]="action.get('activityTypeName').value">
        <bd-select class="w-100" [placeholder]="'select_group' | t" formControlName="acd" *ngSwitchCase="['call_transfer', 'call_transfer_queue'].includes(action.get('activityTypeName').value) ? action.get('activityTypeName').value : false">
          <bd-option [value]="acd.id" *ngFor="let acd of formService.acds">{{ acd.name }}</bd-option>
        </bd-select>
        <ng-container *ngSwitchCase="'audio_message'">
          <app-audio-input [inputFile]="action.get('files').value[lang.value]" (fileChange)="setFile(action, $event)" [hidden]="activeLang !== lang.value" *ngFor="let lang of langs"></app-audio-input>
        </ng-container>
        <mat-form-field class="w-100" *ngSwitchCase="'language_switch'">
          <mat-label>{{ 'select_language' | t }}</mat-label>
          <mat-select formControlName="activityValue">
            <mat-option [value]="lang.value" *ngFor="let lang of langs">{{ lang.label }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field  class="w-100" *ngSwitchCase="'sms'">
          <mat-label>{{ 'sms_content' | t }}</mat-label>
          <input matInput formControlName="activityValue">
        </mat-form-field>
        <bd-select [placeholder]="'select_router' | t" formControlName="router" *ngSwitchCase="'router_transfer'">
          <bd-option [value]="router.id" *ngFor="let router of formService.routers">{{ router.name }}</bd-option>
        </bd-select>
        <mat-form-field class="w-100" *ngSwitchCase="'external_service'">
          <mat-label>{{ 'service_name' | t }}</mat-label>
          <input matInput formControlName="activityValue">
        </mat-form-field>
        <div class="d-flex align-items-center" *ngSwitchCase="'condition'">
          <mat-form-field class="ms-3 w-200p">
            <mat-label>{{ 'select_condition' | t }}</mat-label>
            <mat-select formControlName="activityValue">
              <mat-option [value]="condition" *ngFor="let condition of conditions">{{ condition | t }}</mat-option>
            </mat-select>
          </mat-form-field>
          <bd-select class="w-200p" [placeholder]="'select_schedule' | t" formControlName="conditionSchedule" *ngIf="action.get('activityValue').value === 'schedule'">
            <bd-option [value]="schedule.id" *ngFor="let schedule of formService.schedules">{{ schedule.name }}</bd-option>
          </bd-select>
        </div>
      </div>
<!--      <mat-form-field class="mx-3 w-200p">-->
<!--        <mat-label>{{ 'data_documenting' | t }}</mat-label>-->
<!--        <mat-select formControlName="documenting"></mat-select>-->
<!--      </mat-form-field>-->
      <div class="text-center pointer" (click)="openActivityDialog(action)" *ngIf="index === 0">
        <p class="mb-1 bold">{{ 'timing' | t }}</p>
        <mat-icon [ngClass]="{ 'green-text': action.get('timingType').value }">watch_later</mat-icon>
        <p>{{ action.get('timingType').value ? (action.get('timingType').value  | t) : ('none' | t) }}</p>
      </div>
      <div class="text-center icon-container" *ngIf="index === 0">
        <p class="mb-1 bold">{{ 'status' | t }}</p>
        <mat-icon [ngClass]="{ 'green-text': action.get('isOnline').value, 'red-text': !action.get('isOnline').value }">power_settings_new</mat-icon>
        <p [ngClass]="{ 'green-text': action.get('isOnline').value, 'red-text': !action.get('isOnline').value }">{{ action.get('isOnline').value ? ('active' | t) : ('inactive' | t) }}</p>
      </div>
      <div class="group-actions">
        <div class="h-100 text-center" *ngIf="index === 0 || action.get('isFirstCondition').value">
          <p class="mb-2 bold">{{ 'add_line' | t }}</p>
          <button mat-flat-button class="green-btn" (click)="addAction(type, index)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <div class="text-center" *ngIf="index === 0">
          <mat-slide-toggle formControlName="isActive" (ngModelChange)="action.get('isOnline').patchValue($event)"></mat-slide-toggle>
        </div>
        <div class="delete-container">
          <mat-icon class="pointer dark-grey-text" (click)="deleteAction(type, index)" *ngIf="!action.get('isFirstCondition').value">delete</mat-icon>
        </div>
      </div>
    </div>
  </div>
</ng-container>
