<div class="mb-3 flex-between">
  <h1>{{ 'mailboxes' | t }}</h1>
  <div>
    <button class="btn blue-btn" routerLink="./form" *ngIf="userSession.hasPermission('mailServers', 'create')">
      <i class="la la-plus ms-1"></i>
      <span>{{ 'add_mailbox' | t }}</span>
    </button>
  </div>
</div>
<app-data-table tableUrl="mailboxes" [columns]="columns" [hasCheckColumn]="userSession.hasPermission('mailServers', 'update') && dataTable.hasItems" (openMultipleEdit)="openMultipleEdit()"
                [hasActionsHeader]="userSession.canModify('mailServers')" (fetchItems)="fetchItems()">
  <tr *ngFor="let item of dataTable.items">
    <td *ngIf="userSession.hasPermission('mailServers', 'update')">
      <mat-checkbox (change)="dataTable.checkItem(item, $event.checked)" [checked]="item.checked"></mat-checkbox>
    </td>
    <td>
      <a [routerLink]="['./', 'form', item._id]" *ngIf="userSession.hasPermission('mailServers', 'update')">{{ item.name }}</a>
      <span *ngIf="!userSession.hasPermission('mailServers', 'update')">{{ item.name }}</span>
    </td>
	  <td>{{ item.unit }}</td>
    <td class="row-icons" *ngIf="userSession.canModify('mailServers')">
      <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item class="row-action" [routerLink]="['./', 'form', item._id]" *ngIf="userSession.hasPermission('mailServers', 'update')">
          <mat-icon>edit</mat-icon>
          <span>{{ 'edit' | t }}</span>
        </button>
        <button mat-menu-item class="row-action" (click)="deleteItem(item._id)" *ngIf="userSession.hasPermission('mailServers', 'delete')">
          <mat-icon>delete</mat-icon>
          <span>{{ 'delete' | t }}</span>
        </button>
      </mat-menu>
    </td>
  </tr>
</app-data-table>
