<div class="dialog-header">
  <span>{{ 'set_password' | t }}</span>
  <i class="la la-times" mat-dialog-close></i>
</div>
<form (ngSubmit)="submit()" [formGroup]="passwordForm">
  <mat-form-field class="w-100 mb-3">
    <input matInput type="password" formControlName="password" [placeholder]="'password' | t" required>
    <mat-error>{{ errorMessages.required }}</mat-error>
  </mat-form-field>
  <mat-form-field class="w-100 mb-3">
    <input matInput type="password" formControlName="repeatPassword" [placeholder]="'repeat_password' | t" required>
    <mat-error *ngIf="passwordForm.get('repeatPassword').errors && passwordForm.get('repeatPassword').errors.required">{{ errorMessages.required }}</mat-error>
    <mat-error *ngIf="passwordForm.get('repeatPassword').errors && passwordForm.get('repeatPassword').errors.compare">{{ 'passwords_dont_match' | t }}</mat-error>
  </mat-form-field>
  <div class="text-center">
    <button class="btn blue-btn" type="submit">{{ 'confirm' | t }}</button>
  </div>
</form>
