<div class="mb-3" *ngIf="status !== 'reset'">
  <a class="f-12 blue-text" routerLink="/">{{ 'back_to_login' | t }}</a>
</div>
<form #emailForm="ngForm" (ngSubmit)="submit(emailForm)" *ngIf="status === 'unsent'">
  <div class="mb-3">
    <label class="blue-text">{{ 'email' | t }}</label>
    <input type="email" class="form-control" ngModel name="username" required>
    <p class="alert alert-danger" *ngIf="emailForm.submitted && !emailForm.valid">{{ errorMessages.required }}</p>
  </div>
  <div class="text-center">
    <p class="alert alert-danger" *ngIf="errors.userNotFound">{{ 'user_not_found' | t }}.</p>
    <button class="btn blue-btn" type="submit">{{ 'submit' | t }}</button>
  </div>
</form>
<form #pinForm="ngForm" *ngIf="status === 'sent'" (ngSubmit)="submit(pinForm)">
  <a class="f-12 blue-text pointer" (click)="resendToken()">{{ 'resend_code' | t }}</a>
  <p class="mt-2 mb-0">{{ 'fill_in_reset_code' | t }}.</p>
  <app-pin-input [length]="6" ngModel name="token" required></app-pin-input>
  <p class="alert alert-danger" *ngIf="pinForm.submitted && !pinForm.valid">{{ errorMessages.required }}</p>
  <div class="text-center">
    <p class="alert alert-danger" *ngIf="errors.invalidToken">{{ 'invalid_reset_token' | t }}.</p>
    <button class="btn blue-btn" type="submit">{{ 'submit' | t }}</button>
  </div>
</form>
<app-set-password (submitted)="resetPassword($event)" *ngIf="status === 'validated'"></app-set-password>
<div *ngIf="status === 'reset'">
  <p class="alert alert-success">{{ 'password_was_reset' | t }}.</p>
  <button class="btn blue-btn" routerLink="/">{{ 'back_to_login' | t }}</button>
</div>
