<div class="mb-5 flex-between">
  <h1>{{ 'schedules' | t }}</h1>
  <div>
    <button class="btn blue-btn" (click)="openFormDialog()" *ngIf="userSession.hasPermission('schedules', 'create')">
      <i class="la la-plus ms-1"></i>
      <span>{{ 'add_schedule' | t }}</span>
    </button>
  </div>
</div>
<app-data-table [columns]="columns" [hasCheckColumn]="false" (fetchItems)="fetchItems()">
  <tr *ngFor="let item of dataTable.items">
    <td>{{ item.name }}</td>
    <td>{{ item.description }}</td>
    <td class="row-icons">
      <mat-icon class="ms-2" (click)="openFormDialog(item)" *ngIf="userSession.hasPermission('schedules', 'update')">edit</mat-icon>
      <mat-icon (click)="deleteItem(item.id)" *ngIf="userSession.hasPermission('schedules', 'delete')">delete</mat-icon>
    </td>
  </tr>
</app-data-table>
