#modules
  min-height: 100px

  .tabs
    margin-bottom: 20px

  .chips
    flex-wrap: wrap
    max-height: 180px
    overflow-y: auto

    .chip
      width: 110px
      justify-content: center
      cursor: pointer
