<mat-form-field>
  <input matInput type="search" [placeholder]="'search' | t" (keyup)="search(searchKeyword.value, $event)" #searchKeyword>
  <mat-icon matSuffix class="pointer" (click)="resetSearch(searchKeyword)">close</mat-icon>
</mat-form-field>
<div class="d-flex">
  <div class="ms-3 group">
    <p *ngIf="placeholder" class="placeholder">{{ ('available_' + placeholder) | t }}</p>
    <ul class="mb-3">
      <li [ngClass]="{ 'selected': item.selected }" (click)="item.selected = !item.selected" *ngFor="let item of filteredItems">
        {{ item.name }}
      </li>
    </ul>
    <button type="button" mat-flat-button class="btn blue-btn" (click)="addItems()">
      <span>{{ 'add' | t }}</span>
      <mat-icon class="side-chevron">arrow_left</mat-icon>
    </button>
  </div>
  <div class="me-3 group">
    <p *ngIf="placeholder" class="placeholder">{{ ('selected_' + placeholder) | t }}</p>
    <ul class="mb-3">
      <li [ngClass]="{ 'selected': item.selected }" (click)="item.selected = !item.selected" *ngFor="let item of selectedItems">
        {{ item.name }}
      </li>
    </ul>
    <button type="button" mat-flat-button class="btn blue-btn" (click)="removeItems()">
      <mat-icon class="side-chevron">arrow_right</mat-icon>
      <span>{{ 'remove' | t }}</span>
    </button>
  </div>
</div>
