<div class="ms-3 group">
  <p class="placeholder">{{ 'lbl_available' | t }}</p>
  <div class="search-container">
    <input matInput type="text" [placeholder]="'search' | t" (keyup)="search('available', $event)" [(ngModel)]="searchInputs.available">
    <mat-icon matSuffix (click)="search('available')">search</mat-icon>
    <mat-icon matSuffix (click)="resetSearch('available')" *ngIf="searchInputs.available">close</mat-icon>
  </div>
  <ul class="mb-3" [style.width]="width">
    <li [ngClass]="{ 'selected': item.selected }" (click)="item.selected = !item.selected" *ngFor="let item of availableItems">
      <ng-container *ngIf="rowTemplateRef" [ngTemplateOutlet]="rowTemplateRef" [ngTemplateOutletContext]="{ $implicit:item }"></ng-container>
      <ng-container *ngIf="availableTemplateRef" [ngTemplateOutlet]="availableTemplateRef" [ngTemplateOutletContext]="{ $implicit:item }"></ng-container>
      <span *ngIf="!rowTemplateRef && !availableTemplateRef">{{ item.name }}</span>
    </li>
  </ul>
</div>
<div class="controls">
  <div class="mb-3">
    <mat-icon class="side-chevron" (click)="addItems()">arrow_left</mat-icon>
  </div>
  <div>
    <mat-icon class="side-chevron" (click)="removeItems()">arrow_right</mat-icon>
  </div>
</div>
<div class="me-3 group">
  <p class="placeholder">{{ 'lbl_selected' | t }}</p>
  <div class="search-container">
    <input matInput type="text" [placeholder]="'search' | t" (keyup)="search('selected', $event)" [(ngModel)]="searchInputs.selected">
    <mat-icon matSuffix (click)="search('selected')">search</mat-icon>
    <mat-icon matSuffix (click)="resetSearch('selected')" *ngIf="searchInputs.selected">close</mat-icon>
  </div>
  <ul class="mb-3" [style.width]="width">
    <li [ngClass]="{ 'selected': item.selected }" (click)="item.selected = !item.selected" *ngFor="let item of selectedItems.filtered">
      <ng-container *ngIf="rowTemplateRef" [ngTemplateOutlet]="rowTemplateRef" [ngTemplateOutletContext]="{ $implicit:item }"></ng-container>
      <ng-container *ngIf="selectedTemplateRef" [ngTemplateOutlet]="selectedTemplateRef" [ngTemplateOutletContext]="{ $implicit:item }"></ng-container>
      <span *ngIf="!rowTemplateRef && !selectedTemplateRef">{{ item.name }}</span>
    </li>
  </ul>
</div>
