<div class="dialog-header">
  <span>{{ 'add_unit' | t }}</span>
  <i class="la la-times" mat-dialog-close></i>
</div>
<form #form="ngForm" (ngSubmit)="submit(form)">
  <mat-form-field class="w-100">
    <input matInput type="text" name="name" autocomplete="off" ngModel [placeholder]="'unit_name' | t" required>
    <mat-error>{{ errorMessages.required }}</mat-error>
  </mat-form-field>
  <div>
    <app-unit-select [units]="units" [placeholder]="'select_parent_unit' | t" ngModel #parentSelect="ngModel" name="parent" [required]="!userSession.isRootUser()"></app-unit-select>
    <p class="alert alert-danger" [@fade]="form.submitted && parentSelect.errors ? 'active' : 'inactive'">{{ errorMessages.required }}</p>
  </div>
  <mat-form-field class="w-100">
    <input matInput type="text" name="externalID" ngModel [placeholder]="'external_identification' | t">
  </mat-form-field>
  <div class="text-center">
    <button class="btn blue-btn" type="submit">{{ 'save' | t }}</button>
  </div>
</form>
