mat-icon
  cursor: pointer
  color: #707070

input
  margin-bottom: 2px
  padding: 0 4px

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0

input[type=number]
  -moz-appearance: textfield
