<div class="mb-3 flex-between">
  <h1>{{ 'schedules' | t }}</h1>
  <div>
    <button class="btn blue-btn" routerLink="./form" *ngIf="userSession.hasPermission('schedules', 'create')">
      <i class="la la-plus ms-1"></i>
      <span>{{ 'add_schedule' | t }}</span>
    </button>
  </div>
</div>
<app-data-table [columns]="columns"  [hasCheckColumn]="userSession.hasPermission('schedules', 'update') && dataTable.hasItems" (openMultipleEdit)="openMultipleEdit()"
                [hasActionsHeader]="userSession.canModify('schedules')" (fetchItems)="fetchItems()">
  <tr *ngFor="let item of dataTable.items">
    <td *ngIf="userSession.hasPermission('schedules', 'update')">
      <mat-checkbox (change)="dataTable.checkItem(item, $event.checked)" [checked]="item.checked"></mat-checkbox>
    </td>
    <td>
      <a [routerLink]="['./', 'form', item.id]" *ngIf="userSession.hasPermission('schedules', 'update')">{{ item.name }}</a>
      <span *ngIf="!userSession.hasPermission('schedules', 'update')">{{ item.name }}</span>
    </td>
    <td>{{ item.type | t }}</td>
    <td>
      <ng-container *ngIf="item.type === 'regular'">{{ item.uniqueSchedule ? item.uniqueSchedule : 'no_unique_schedule_linked' | t }}</ng-container>
      <ng-container *ngIf="item.type === 'unique'">------</ng-container>
    </td>
    <td class="row-icons" *ngIf="userSession.canModify('schedules')">
      <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item class="row-action" [routerLink]="['./', 'form', item.id]" *ngIf="userSession.hasPermission('schedules', 'update')">
          <mat-icon>edit</mat-icon>
          <span>{{ 'edit' | t }}</span>
        </button>
        <button mat-menu-item class="row-action" (click)="deleteItem(item.id)" *ngIf="userSession.hasPermission('schedules', 'delete')">
          <mat-icon>delete</mat-icon>
          <span>{{ 'delete' | t }}</span>
        </button>
      </mat-menu>
    </td>
  </tr>
</app-data-table>
