<main>
  <section class="area" id="drag-resize-area">
    <section class="grid-area" id="grid" #gridArea>
      <div *ngFor="let tile of tiles" class="d-flex justify-content-center align-items-center">
        <div class="grid-tile"></div>
      </div>
    </section>
    <div *ngFor="let widget of widgets; let index = index" class="rect offset-small move"
         ngxDrag
         ngxDragPositionStrategy="relative"
         ngxDragBoundary="#drag-resize-area"
         ngxResize
         [ngxResizeMinWidth]="60"
         [ngxResizeMinHeight]="50"
         [style.top.px]="widget.top"
         [style.left.px]="widget.left"
         [style.z-index]="widget.zindex"
         [style.width.px]="widget.width"
         [style.height.px]="widget.height"
         ngxResizeBoundary="#drag-resize-area" (mousedown)="startDrag(element, index)" (ngxResized)="resizing = true" #element
         (mouseup)="adjust(element, index)">
      <div [ngxResizeHandle]="handleType.TopRight" data-resize-handle='TopRight'></div>
      <div [ngxResizeHandle]="handleType.Top" data-resize-handle='Top'></div>
      <div [ngxResizeHandle]="handleType.TopLeft" data-resize-handle='TopLeft'></div>
      <div [ngxResizeHandle]="handleType.Right" data-resize-handle='Right'></div>
      <div [ngxResizeHandle]="handleType.BottomRight" data-resize-handle='BottomRight'></div>
      <div [ngxResizeHandle]="handleType.Bottom" data-resize-handle='Bottom'></div>
      <div [ngxResizeHandle]="handleType.BottomLeft" data-resize-handle='BottomLeft'></div>
      <div [ngxResizeHandle]="handleType.Left" data-resize-handle='Left'></div>
      {{ widget.height }}
      {{ widget.width }}
      <app-widget class="widget" [type]="widget.type" [width]="widget.width" [height]="widget.height"></app-widget>
    </div>
  </section>
</main>
