<main>
  <section class="area" id="drag-resize-area" #dragResizeArea style="z-index: 1">
    <div *ngFor="let widget of widgets; let index = index" class="rect offset-small move"
         ngxDrag
         ngxDragPositionStrategy="relative"
         ngxDragBoundary="#drag-resize-area"
         ngxResize
         [ngxResizeMinWidth]="60"
         [ngxResizeMinHeight]="50"
         [style.top.px]="widget.top"
         [style.left.px]="widget.left"
         [style.width.px]="widget.width"
         [style.height.px]="widget.height"
         ngxResizeBoundary="#drag-resize-area" (ngxResized)="resized($event, element, index)" #element (mousedown)="startDrag(element)"
         (mouseup)="drop(element, index)"
         (ngxDragged)="allowDrop ? dragged($event, index) : null">
      <div [ngxResizeHandle]="handleType.TopLeft" data-resize-handle='TopLeft'></div>
      <div [ngxResizeHandle]="handleType.Top" data-resize-handle='Top'></div>
      <div [ngxResizeHandle]="handleType.TopRight" data-resize-handle='TopRight'></div>
      <div [ngxResizeHandle]="handleType.Right" data-resize-handle='Right'></div>
      <div [ngxResizeHandle]="handleType.BottomRight" data-resize-handle='BottomRight'></div>
      <div [ngxResizeHandle]="handleType.Bottom" data-resize-handle='Bottom'></div>
      <div [ngxResizeHandle]="handleType.BottomLeft" data-resize-handle='BottomLeft'></div>
      <div [ngxResizeHandle]="handleType.Left" data-resize-handle='Left'></div>
      <app-widget #el (dragstart)="drag($event, el)" [type]="widget.type"></app-widget>
      {{ widget.top }}
    </div>
  </section>
</main>
<main>
  <section class="grid-area" id="grid">
    <div *ngFor="let tile of tiles" class="d-flex justify-content-center align-items-center">
      <div class="grid-tile"></div>
    </div>
<!--    <div class="d-flex" *ngFor="let row of rows; let rowIndex = index">-->
<!--      <div class="grid-tile" *ngFor="let col of columns">-->
<!--      </div>-->
<!--    </div>-->
  </section>
</main>

<!--<div *ngFor="let widget of widgets; let index = index">-->
<!--  <app-widget class="drag1" draggable="true" #el  [type]="widget.type"></app-widget>-->
<!--</div>-->
