<form (ngSubmit)="submit()" [formGroup]="formGroup">
	<div class="form-header mb-5">
		<p class="h1">{{ 'general_settings' | t }}</p>
		<div>
			<button type="submit" class="btn primary-btn" [disabled]="formGroup.invalid">{{ 'save' | t }}</button>
		</div>
	</div>
	<div class="form-body">
		<div class="row">
			<div class="col-lg-4">
				<mat-form-field appearance="outline" class="w-100 mb-3">
					<mat-label>{{ 'minimal_reply_time' | t }}</mat-label>
					<mat-icon matSuffix class="input-tooltip" [matTooltip]="'minimal_reply_time_tooltip' | t">help</mat-icon>
					<input matInput type="number" formControlName="minimalReplyTime" required>
					<mat-error>{{ errorMessages.required | t }}</mat-error>
				</mat-form-field>
			</div>
		</div>
	</div>
</form>
