<form class="mb-3" (ngSubmit)="submit()" [formGroup]="scheduleForm">
  <div class="mb-5 flex-between">
    <p class="h1">{{ scheduleId ? ('edit_schedule' | t) : ('add_schedule' | t) }}</p>
    <div>
      <button type="submit" class="btn blue-btn">{{ 'save' | t }}</button>
    </div>
  </div>
  <p class="h3 mb-3">{{ 'schedule_details' | t }}</p>
  <div class="row">
    <div class="mb-3 col-12 col-lg-3">
      <mat-form-field class="w-100">
        <input matInput type="text" formControlName="name" [placeholder]="'schedule_name' | t" required>
        <mat-error>{{ errorMessages.required | t }}</mat-error>
      </mat-form-field>
    </div>
    <div class="mb-3 col-12 col-lg-3">
      <mat-form-field class="w-100">
        <mat-select formControlName="type" [placeholder]="'schedule_type' | t" required>
          <mat-option *ngFor="let type of types" [value]="type">{{ type | t }}</mat-option>
        </mat-select>
        <mat-error>{{ errorMessages.required | t }}</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-12 col-lg-6">
      <mat-form-field class="w-100">
        <textarea matInput formControlName="description" [placeholder]="'description' | t" rows="6"></textarea>
      </mat-form-field>
    </div>
  </div>
</form>
<form (ngSubmit)="addCallTime()" [formGroup]="callTimeForm">
  <p class="h3 mb-3">{{ 'call_times' | t }}</p>
  <div class="row">
    <div class="mb-3 col-12 col-lg-3">
      <mat-form-field class="w-100">
        <mat-select formControlName="day" [placeholder]="'select_day' | t" required>
          <mat-option *ngFor="let day of weekDays" [value]="day">{{ day | t }}</mat-option>
        </mat-select>
        <mat-error>{{ errorMessages.required | t }}</mat-error>
      </mat-form-field>
    </div>
    <!--      <div class="mb-3 col-12 col-lg-3">-->
    <!--        <bd-select formControlName="uniqueDay" [placeholder]="'unique_day_name' | t">-->
    <!--          <bd-option *ngFor="let day of uniqueDays" [value]="day.id">{{ day.name }}</bd-option>-->
    <!--        </bd-select>-->
    <!--      </div>-->
    <div class="mb-3 col-12 col-lg-3 d-flex align-items-center">
      <mat-checkbox color="primary" (change)="allDayChecked(allDayInput.checked)" #allDayInput>{{ 'all_day' | t }}</mat-checkbox>
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-12 col-lg-3">
      <mat-form-field class="w-100">
        <input matInput type="time" formControlName="startTime" [placeholder]="'from_time' | t" [required]="!allDayInput.checked">
        <mat-error>{{ errorMessages.required | t }}</mat-error>
      </mat-form-field>
    </div>
    <div class="mb-3 col-12 col-lg-3">
      <mat-form-field class="w-100">
        <input matInput type="time" formControlName="endTime" [placeholder]="'to_time' | t" [required]="!allDayInput.checked">
        <mat-error>{{ errorMessages.required | t }}</mat-error>
      </mat-form-field>
    </div>
    <div class="col-12 col-lg-3">
      <button type="submit" class="mt-1 btn blue-btn">{{ 'add' | t }}</button>
    </div>
  </div>
  <table class="mt-3 table table-striped">
    <thead>
      <tr>
        <th>{{ 'day' | t }}</th>
        <th>{{ 'to_time' | t }}</th>
        <th>{{ 'from_time' | t }}</th>
        <th>{{ 'active' | t }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let callTime of scheduleForm.get('callTimes').value; let index = index">
        <td>{{ callTime.day | t }}</td>
        <td>{{ callTime.startTime }}</td>
        <td>{{ callTime.endTime }}</td>
        <td>
          <mat-slide-toggle></mat-slide-toggle>
        </td>
        <td class="row-icons">
          <mat-icon class="ms-2">edit</mat-icon>
          <mat-icon (click)="removeCallTime(index)">delete</mat-icon>
        </td>
      </tr>
    </tbody>
  </table>
</form>
