<form class="mb-3" (ngSubmit)="submit()" [formGroup]="scheduleForm">
  <div class="mb-5 flex-between">
    <p class="h1">{{ scheduleId ? ('edit_schedule' | t) : ('add_schedule' | t) }}</p>
    <div>
      <button type="submit" class="btn blue-btn">{{ 'save' | t }}</button>
    </div>
  </div>
  <p class="h3 mb-3">{{ 'schedule_details' | t }}</p>
  <div class="row">
    <div class="mb-3 col-12 col-lg-3">
      <mat-form-field class="w-100">
        <input matInput type="text" formControlName="name" [placeholder]="'schedule_name' | t" required>
        <mat-error>{{ errorMessages.required | t }}</mat-error>
      </mat-form-field>
    </div>
    <div class="mb-3 col-12 col-lg-3">
      <mat-form-field class="w-100">
        <mat-select formControlName="type" [placeholder]="'schedule_type' | t" (valueChange)="typeChanged($event)" #typeInput required>
          <mat-option *ngFor="let type of types" [value]="type">{{ type | t }}</mat-option>
        </mat-select>
        <mat-error>{{ errorMessages.required | t }}</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-12 col-lg-6">
      <mat-form-field class="w-100">
        <textarea matInput formControlName="description" [placeholder]="'description' | t" rows="6"></textarea>
      </mat-form-field>
    </div>
  </div>
</form>
<form #callTimeFormDirective="ngForm" (ngSubmit)="addCallTime()" [formGroup]="callTimeForm">
  <p class="h3 mb-3">{{ 'call_times' | t }}</p>
  <div class="row align-items-center">
    <div class="mb-3 col-12 col-lg-3" *ngIf="typeInput.value !== 'unique'">
      <mat-form-field class="w-100">
        <mat-select formControlName="day" [placeholder]="'select_day' | t" required>
          <mat-option *ngFor="let day of weekDays" [value]="day">{{ day | t }}</mat-option>
        </mat-select>
        <mat-error>{{ errorMessages.required | t }}</mat-error>
      </mat-form-field>
    </div>
    <div class="mb-3 col-12 col-lg-3" *ngIf="typeInput.value === 'unique'">
      <bd-select class="w-100" formControlName="day" [placeholder]="'select_unique_day' | t" [required]="true" (ngModelChange)="loadDayTimes()">
        <bd-option *ngFor="let day of uniqueDays" [value]="day">{{ day.name }}</bd-option>
      </bd-select>
    </div>
    <div class="mb-3 col-12 col-lg-3" *ngIf="typeInput.value === 'unique'">
      <mat-form-field class="w-100">
        <input matInput type="date" [placeholder]="'from_date' | t" [value]="callTimeForm.get('day').value ? callTimeForm.get('day').value.startDate : null" disabled>
      </mat-form-field>
    </div>
    <div class="mb-3 col-12 col-lg-3" *ngIf="scheduleForm.get('type').value === 'unique'">
      <mat-form-field class="w-100">
        <input matInput type="date" [placeholder]="'to_date' | t" [value]="callTimeForm.get('day').value ? callTimeForm.get('day').value.endDate : null" disabled>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-12 col-lg-3">
      <mat-form-field class="w-100">
        <input matInput type="time" formControlName="startTime" [placeholder]="'from_hour' | t" [required]="!allDayInput.checked">
        <mat-error>{{ errorMessages.required | t }}</mat-error>
      </mat-form-field>
    </div>
    <div class="mb-3 col-12 col-lg-3">
      <mat-form-field class="w-100">
        <input matInput type="time" formControlName="endTime" [placeholder]="'to_hour' | t" [required]="!allDayInput.checked">
        <mat-error *ngIf="callTimeForm.get('endTime').errors">{{ errorMessages.required | t }}</mat-error>
      </mat-form-field>
    </div>
    <div class="col-12 col-lg-3">
      <mat-checkbox class="ms-3" color="primary" (change)="allDayChecked(allDayInput.checked)" formControlName="allDay" #allDayInput>{{ 'all_day' | t }}</mat-checkbox>
      <button type="submit" class="mt-1 btn blue-btn">{{ 'add' | t }}</button>
    </div>
  </div>
  <table class="mt-3 w-75 table table-striped simple-table">
    <thead>
      <tr>
        <th>{{ 'day' | t }}</th>
        <th *ngIf="typeInput.value === 'unique'">{{ 'from_date' | t }}</th>
        <th *ngIf="typeInput.value === 'unique'">{{ 'to_date' | t }}</th>
        <th>{{ 'from_hour' | t }}</th>
        <th>{{ 'to_hour' | t }}</th>
        <th>{{ 'all_day' | t }}</th>
        <th>{{ 'active' | t }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let callTime of callTimes; let index = index">
        <td>{{ typeInput.value === 'unique' ? (callTime.day.name) : (callTime.day | t) }}</td>
        <td *ngIf="typeInput.value === 'unique'">{{ callTime.day.startDate | date: 'd/MM/Y' }}</td>
        <td *ngIf="typeInput.value === 'unique'">{{ callTime.day.endDate | date: 'd/MM/Y' }}</td>
        <td>
          <span *ngIf="!callTime.editing">{{ callTime.startTime ?? ('all_day' | t) }}</span>
          <input type="time" [value]="callTime.startTime" #startTimeInput [hidden]="!callTime.editing">
        </td>
        <td>
          <span *ngIf="!callTime.editing">{{ callTime.endTime ?? ('all_day' | t) }}</span>
          <input type="time" [value]="callTime.endTime" #endTimeInput [hidden]="!callTime.editing">
        </td>
        <td>
          <mat-slide-toggle color="primary" [checked]="callTime.allDay" (change)="callTime.startTime = null; callTime.endTime = null"></mat-slide-toggle>
        </td>
        <td>
          <mat-slide-toggle color="primary" [checked]="callTime.isActive" (change)="callTime.isActive = $event.checked"></mat-slide-toggle>
        </td>
        <td class="row-icons">
          <div class="d-flex align-items-center">
            <button class="ms-2 btn blue-btn" type="button" (click)="confirmTimeUpdate(callTime, startTimeInput.value, endTimeInput.value)" *ngIf="callTime.editing">{{ 'confirm' | t }}</button>
            <mat-icon class="ms-2" (click)="callTime.editing = true" *ngIf="!callTime.editing">edit</mat-icon>
            <mat-icon (click)="removeCallTime(index)">delete</mat-icon>
          </div>
        </td>
      </tr>
      <tr *ngIf="callTimes.length === 0">
        <td class="text-center bold" [attr.colspan]="typeInput.value === 'unique' ? 7 : 5">{{ 'call_times_not_added' | t }}.</td>
      </tr>
    </tbody>
  </table>
</form>
