<form (ngSubmit)="submit(form)" #form="ngForm">
  <h3 class="text-center blue-text">{{ 'system_login' | t }}</h3>
  <mat-form-field class="w-100">
    <mat-label>{{ 'username' | t }}</mat-label>
    <input matInput type="text" ngModel name="username" required>
    <mat-error>{{ errorMessages.required | t }}</mat-error>
  </mat-form-field>
  <mat-form-field class="w-100">
    <mat-label>{{ 'password' | t }}</mat-label>
    <input matInput type="password" ngModel name="password" required>
    <mat-error>{{ errorMessages.required | t }}</mat-error>
  </mat-form-field>
  <mat-form-field class="w-100">
    <mat-label>{{ 'extension' | t }}</mat-label>
    <input matInput type="text" ngModel name="extension" required>
    <mat-error>{{ errorMessages.required | t }}</mat-error>
  </mat-form-field>
  <button class="btn blue-btn w-100" type="submit">{{ 'login' | t }}</button>
  <p class="mt-3 alert alert-danger" [@fade]="hasLoginError ? 'active' : 'inactive'">{{ 'invalid_username_or_password' | t }}.</p>
  <div class="mt-3 text-center">
    <a class="f-12 blue-text" routerLink="./forgot">{{ 'forgot_password' | t }}?</a>
  </div>
</form>
