<div class="mb-3 flex-between">
	<p class="h3">{{ 'mail_servers' | t }}</p>
  <div>
    <button class="btn primary-btn" routerLink="./form" *ngIf="userSession.hasPermission('mailServers', 'create')">
      <i class="la la-plus ms-1"></i>
      <span>{{ 'add_mail_server' | t }}</span>
    </button>
  </div>
</div>
<app-data-table tableUrl="mailServers" [columns]="columns" [hasActionsHeader]="userSession.canModify('mailServers')" [hasCheckColumn]="false" (fetchItems)="fetchItems()">
	<tr *ngFor="let item of dataTable.items">
		<td>
      <a [routerLink]="['./', 'form', item._id]" *ngIf="userSession.hasPermission('mailServers', 'update')">{{ item.domain }}</a>
      <span *ngIf="!userSession.hasPermission('mailServers', 'update')">{{ item.domain }}</span>
    </td>
    <td class="row-icons" *ngIf="userSession.canModify('mailServers')">
      <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item class="row-action" [routerLink]="['./', 'form', item._id]" *ngIf="userSession.hasPermission('mailServers', 'update')">
          <mat-icon>edit</mat-icon>
          <span>{{ 'edit' | t }}</span>
        </button>
        <button mat-menu-item class="row-action" (click)="deleteItem(item._id)" *ngIf="userSession.hasPermission('mailServers', 'delete')">
          <mat-icon>delete</mat-icon>
          <span>{{ 'delete' | t }}</span>
        </button>
      </mat-menu>
    </td>
	</tr>
</app-data-table>
