<h4 class="mb-3">{{ 'organization_units' | t }}</h4>
<ul id="tree" class="mb-3">
  <li>
    <mat-checkbox color="primary" [disabled]="!isRootUser" [checked]="unitChecked('root')" (change)="setUnit($event.checked, rootUnit)">ROOT</mat-checkbox>
    <ul>
      <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ list: units }"></ng-container>
    </ul>
  </li>
</ul>
<ng-template #recursiveListTmpl let-list="list">
  <li *ngFor="let unit of list">
    <mat-checkbox color="primary" [checked]="unitChecked(unit.id)" (change)="setUnit($event.checked, unit)">{{ unit.name }}</mat-checkbox>
    <ul *ngIf="unit.units">
      <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ list: unit.units }"></ng-container>
    </ul>
  </li>
</ng-template>
