<div #select>
  <div id="selectLabel" [ngClass]="{ selected: selectedUnit }" (click)="isOpened = !isOpened">
    <span>{{ selectedUnit ? selectedUnit.name : (placeholder | t) }} {{ required ? '* ': '' }}</span>
    <mat-icon>arrow_drop_down</mat-icon>
  </div>
  <div id="dropdown" [@slideDown]="isOpened ? 'active' : 'inactive'" [style]="{ width: width + 'px', top: position.y + 'px', right: position.x + 'px' }" >
    <div id="search" class="flex-between">
      <input type="search" #searchInput (keyup)="initFilter(searchInput.value)">
      <mat-icon>search</mat-icon>
    </div>
    <div id="options">
      <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ list: filteredUnits }"></ng-container>
    </div>
  </div>
</div>

<ng-template #recursiveListTmpl let-list="list">
  <div class="pe-3" *ngFor="let unit of list">
    <div class="option" (click)="selectUnit(unit)">{{ unit.name }}</div>
    <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ list: unit.units }"></ng-container>
  </div>
</ng-template>

