<div id="selectLabel" [ngClass]="{ 'opened': isOpened, 'selected' : selected }" (click)="isOpened = true">
  <div id="selectLabelBorder"></div>
  <div id="selectLabelCover">
    <span id="placeholder" [@placeholder]="selected && (!multiple || selected.length > 0) ? 'active' : 'inactive'">{{ placeholder }}</span>
    <div id="multipleSelectedItems" *ngIf="selected && multiple">
      <span>{{ title }} {{ required ? '* ': '' }}</span>
    </div>
    <span id="selectedValue" *ngIf="selected && !multiple">{{ title }}</span>
    <div id="buttons">
      <mat-icon id="resetIcon" (click)="reset($event)" *ngIf="selected">close</mat-icon>
      <mat-icon>expand_more</mat-icon>
    </div>
  </div>
</div>
<div id="dropdown" [@slideToggle]="isOpened ? 'active' : 'inactive'">
  <div id="search" class="flex-between">
    <div id="filterInput">
      <input (keyup)="initFilter(filterValueEle.value)" [placeholder]="'search' | t" class="w-100" #filterValueEle>
    </div>
  </div>
  <div id="optionsWrapper">
    <div id="options">
      <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ list: filteredUnits }"></ng-container>
    </div>
  </div>
</div>
<ng-template #recursiveListTmpl let-list="list">
  <li *ngFor="let unit of list">
    <div class="d-flex align-items-center">
      <mat-icon class="arrow pointer" [ngClass]="{ 'rotate-side': unit.isToggled, 'fade': !unit.units }" (click)="unit.isToggled = !unit.isToggled">arrow_left</mat-icon>
      <mat-checkbox color="primary" [checked]="unit.checked" (change)="selectUnit(unit, $event.checked)" *ngIf="multiple"></mat-checkbox>
      <div (click)="selectUnit(unit)" class="unit-label">{{ unit.name }}</div>
    </div>
    <ul *ngIf="unit.units" [ngClass]="{ 'toggled': unit.isToggled }">
      <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ list: unit.units }"></ng-container>
    </ul>
  </li>
</ng-template>


