<div id="selectLabel" #widthElement [ngClass]="{ 'opened': isOpened, 'selected' : selected }" (click)="toggleDropdown()">
  <div id="selectLabelBorder"></div>
  <div id="selectLabelCover">
    <span id="placeholder" [@placeholder]="hasValue() ? 'active' : 'inactive'">{{ placeholder + (required ? '*' : '') }}</span>
    <div id="selectedValue" *ngIf="selected">
      <span *ngIf="!multiple">{{ title }}</span>
    </div>
    <div id="buttons">
      <mat-icon id="resetIcon" (click)="reset($event)" *ngIf="hasValue()">close</mat-icon>
      <mat-icon>arrow_drop_down</mat-icon>
    </div>
  </div>
</div>
<mat-chip-list *ngIf="multiple">
  <span class="label-chip" *ngFor="let unit of selected">
    <span class="mx-2">{{ unit.name }}</span>
    <i class="la la-times pointer" (click)="selectUnit(unit, false)"></i>
  </span>
</mat-chip-list>
<div id="dropdown" #dropdownEle [ngStyle]="{ top: top ? top + 'px' : null, bottom: bottom ? bottom + 'px' : null, width: width + 'px' }"
     [ngClass]="{ 'toggle-up': bottom }" [@slideToggle]="isOpened ? 'active' : 'inactive'">
  <div id="search" class="flex-between">
    <div id="filterInput">
      <input (keyup)="initFilter(filterValueEle.value)" [placeholder]="'search' | t" class="w-100" #filterValueEle>
    </div>
  </div>
  <div id="optionsWrapper">
    <div id="options">
      <div *ngIf="multiple" (click)="checkAll(!currentCheckStatus)" id="selectAll" class="text-center unit w-100" [ngClass]="currentCheckStatus ? 'active': null">
        {{ 'select_all' | t }}
      </div>
      <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ list: filteredUnits, height: 7 * 50 }"></ng-container>
    </div>
  </div>
</div>
<ng-template #scrollWrapper #recursiveListTmpl let-list="list" let-height="height">
  <cdk-virtual-scroll-viewport #scrollViewport itemSize="50" [style.height.px]="height" [itemSize]="50" minBufferPx="175" maxBufferPx="2450">
    <li *cdkVirtualFor="let unit of list" [@slideToggle]="isOpened ? 'active' : 'inactive'" [style.background-color]="unit.backgroundColor">
      <div *ngIf="!unit.ignore" class="d-flex align-items-center unit" (click)="unitClicked(unit)">
        <mat-icon class="side-chevron" [ngClass]="{ 'rotate-side': unit.isToggled, 'fade': !hasMoreUnits(unit) }" (click)="toggleUnit(unit, $event)">arrow_left</mat-icon>
        <mat-checkbox color="primary" (click)="$event.stopPropagation()" [checked]="unit.checked" (change)="selectUnit(unit, $event.checked)" *ngIf="multiple"></mat-checkbox>
        <div class="mx-2">{{ unit.name }}</div>
      </div>
      <ul *ngIf="unit.units" [ngClass]="{ 'toggled': unit.isToggled }">
        <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ list: unit.units, height: unit.height ?? 50 }"></ng-container>
      </ul>
    </li>
  </cdk-virtual-scroll-viewport>
</ng-template>
