<div class="dialog-header">
  <span>{{ data.group.id ? ('edit_group' | t) : ('add_group' | t) }}</span>
  <i class="la la-times" mat-dialog-close></i>
</div>
<form (ngSubmit)="submit(form)" #form="ngForm">
  <mat-form-field class="mb-3 w-100">
    <input matInput [placeholder]="'group_name' | t" [ngModel]="data.group.name" name="name" required>
    <mat-error>{{ errorMessages.required }}</mat-error>
  </mat-form-field>
  <mat-form-field class="mb-3 w-100">
    <mat-select [placeholder]="'users' | t" [ngModel]="data.group.users" name="users" multiple>
      <mat-option *ngFor="let user of data.users" [value]="user.id">{{ user.name }}</mat-option>
    </mat-select>
    <mat-error>{{ errorMessages.required }}</mat-error>
  </mat-form-field>
  <div class="text-center">
    <button type="submit" class="btn blue-btn">{{ 'save' | t }}</button>
  </div>
</form>
