<form (ngSubmit)="submit()" [formGroup]="groupForm">
  <div class="mb-3 flex-between">
    <h1>{{ group ? ('edit_group' | t) : ('add_group' | t) }}</h1>
    <div>
      <button type="submit" class="btn blue-btn">{{ 'save' | t }}</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-3 mb-3">
      <mat-form-field class="w-100">
        <input matInput type="text" formControlName="name" [placeholder]="'group_name' | t" required>
        <mat-error>{{ errorMessages.required }}</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12 col-lg-6">
      <h4>{{ 'users' | t }}</h4>
      <app-select-groups formControlName="users" [items]="users"></app-select-groups>
    </div>
    <div class="col-12 col-lg-6">
      <h4>{{ 'permissions' | t }}</h4>
      <app-select-groups formControlName="permissions" [items]="permissions"></app-select-groups>
    </div>
  </div>
  <div>
    <h4 class="mb-3">{{ 'organization_units' | t }}</h4>
    <ul id="tree" class="mb-3">
      <li>
        <mat-checkbox color="primary" [checked]="unitChecked('root')" (change)="setUnit($event.checked, rootUnit)">ROOT</mat-checkbox>
        <ul>
          <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ list: rootUnit.units }"></ng-container>
        </ul>
      </li>
    </ul>
    <ng-template #recursiveListTmpl let-list="list">
      <li *ngFor="let unit of list">
        <mat-checkbox color="primary" [checked]="unitChecked(unit.id)" (change)="setUnit($event.checked, unit)">{{ unit.name }}</mat-checkbox>
        <ul *ngIf="unit.units">
          <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ list: unit.units }"></ng-container>
        </ul>
      </li>
    </ng-template>
  </div>
</form>
