<div id="units">
  <h1>{{ 'organization_structure' | t }}</h1>
  <app-unit-tree [rootUnit]="rootUnit"></app-unit-tree>
  <div class="mt-5 flex-center" *ngIf="userSession.hasPermission(5, 'units', 'create')">
    <button class="btn grey-btn">
      <i class="la la-plus ms-1"></i>
      <span>{{ 'add_unit' | t }}</span>
    </button>
  </div>
</div>
<div id="main">
  <div class="mb-5 pt-2 tabs">
    <a class="tab" [routerLink]="module.name ? ['/platform', 'units', activeUnitId, module.name] : ['/platform', 'units']" *ngFor="let module of modules">{{ module.label | t }}</a>
  </div>
  <div class="px-3">
    <router-outlet></router-outlet>
  </div>
</div>
