<div id="units">
  <p class="h2 text-center">{{ 'organization_structure' | t }}</p>
  <div class="my-3 text-center">
    <button class="btn primary-btn" (click)="openFormDialog()" *ngIf="userSession.hasPermission('units', 'create')">
      <i class="la la-plus ms-1"></i>
      <span>{{ 'add_unit' | t }}</span>
    </button>
  </div>
  <app-unit-tree></app-unit-tree>
</div>
<div id="main">
  <div class="my-5 breadcrumbs">
	  <a>{{ activeUnit.name }}</a>
	  
	  <!--    <a (click)="breadcrumbClicked(rootUnit)" [ngClass]="{ active: rootUnit._id === activeUnit._id }">{{ rootUnit.name }}</a>-->
    <ng-container *ngFor="let ancestor of activeUnit.ancestors; let first = first; let last = last">
      <mat-icon class="side-chevron" *ngIf="first">chevron_left</mat-icon>
      <a (click)="breadcrumbClicked(ancestor)" [ngClass]="{ active: last, disabled: ancestor.disabled }">{{ ancestor.name }}</a>
      <mat-icon class="side-chevron" *ngIf="!last">chevron_left</mat-icon>
    </ng-container>
  </div>
<!--  <div class="tabs">-->
<!--    <a class="tab" [routerLink]="['/platform', 'units', activeUnit._id, module.name]" routerLinkActive="active" *ngFor="let module of modules">{{ module.label | t }}</a>-->
<!--  </div>-->
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
