<div id="units">
  <h1 class="text-center">{{ 'organization_structure' | t }}</h1>
  <div class="my-3 text-center">
    <button class="btn blue-btn" (click)="openFormDialog()" *ngIf="userSession.hasPermission('units', 'create')">
      <i class="la la-plus ms-1"></i>
      <span>{{ 'add_unit' | t }}</span>
    </button>
  </div>
  <app-unit-tree [rootUnit]="rootUnit"></app-unit-tree>
</div>
<div id="main">
  <div class="my-5">

  </div>
  <div class="tabs">
    <a class="tab" [routerLink]="['/platform', 'units', activeUnitId, module.name]" routerLinkActive="active" *ngFor="let module of modules">{{ module.label | t }}</a>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
