<div class="dialog-header">
  <span>{{ 'add_user' | t }}</span>
  <i class="la la-times" mat-dialog-close></i>
</div>
<form (ngSubmit)="submit(form)" #form="ngForm">
  <mat-form-field class="d-block mb-3">
    <mat-select name="userId" ngModel [placeholder]="'name' | t" required>
      <mat-option *ngFor="let user of data.users" [value]="user.id">{{ user.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="text-center">
    <button class="btn blue-btn" type="submit">{{ 'save' | t }}</button>
  </div>
</form>
