<form (ngSubmit)="submit()" #form="ngForm">
  <div class="row">
    <div class="col-12 col-lg-6 mb-3">
      <mat-form-field class="w-100">
        <mat-label>{{ 'unit_name' | t }}</mat-label>
        <input matInput type="text" name="name" [ngModel]="unit.name" [disabled]="isRootUnit || !hasPermission('units', 'update')">
      </mat-form-field>
    </div>
    <div class="col-12 col-lg-6 mb-3" *ngIf="!isRootUnit">
      <app-unit-select name="parent" [ngModel]="unit.parent" [units]="units" [ignoredUnit]="unit" [placeholder]="'select_parent_unit' | t"></app-unit-select>
    </div>
    <div class="col-12 col-lg-6 mb-3" *ngIf="!isRootUnit">
      <mat-form-field class="w-100">
        <mat-label>{{ 'unit_administrator' | t }}</mat-label>
        <input matInput name="admin" [ngModel]="unit.admin" [disabled]="isRootUnit || !hasPermission('units', 'update')">
      </mat-form-field>
    </div>
    <div class="col-12 col-lg-6 mb-3" *ngIf="!isRootUnit">
      <mat-form-field class="w-100">
        <mat-label>{{ 'external_identification' | t }}</mat-label>
        <input matInput name="externalID" [ngModel]="unit.externalID" [disabled]="!hasPermission('units', 'update')">
      </mat-form-field>
    </div>
  </div>
  <div>
    <button class="btn blue-btn ms-3" type="submit" *ngIf="!isRootUnit && hasPermission('units', 'update')">{{ 'save' | t }}</button>
    <button class="btn red-btn" type="button" (click)="reassignUnit()" *ngIf="!isRootUnit && hasPermission('units', 'delete')">{{ 'delete' | t }}</button>
  </div>
</form>
