<div class="mb-3 flex-between">
  <h1>{{ 'routers' | t }}</h1>
  <div>
    <button class="btn blue-btn" routerLink="./form" *ngIf="userSession.hasPermission('routers', 'create')">
      <i class="la la-plus ms-1"></i>
      <span>{{ 'add_router' | t }}</span>
    </button>
  </div>
</div>
<app-data-table [columns]="columns" [hasActionsHeader]="userSession.canModify('routers')" [hasCheckColumn]="false" (fetchItems)="fetchItems()">
  <tr *ngFor="let item of dataTable.items">
    <td>{{ item.name }}</td>
    <td>{{ item.schedule }}</td>
    <td>{{ item.description }}</td>
    <td class="row-icons" *ngIf="userSession.canModify('routers')">
      <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item class="row-action" (click)="duplicateItem(item)" *ngIf="userSession.hasPermission('routers', 'create')">
          <mat-icon>file_copy</mat-icon>
          <span>{{ 'duplicate' | t }}</span>
        </button>
        <button mat-menu-item class="row-action" [routerLink]="['./', 'form', item.id]" *ngIf="userSession.hasPermission('routers', 'update')">
          <mat-icon>edit</mat-icon>
          <span>{{ 'edit' | t }}</span>
        </button>
        <button mat-menu-item class="row-action" (click)="deleteItem(item)" *ngIf="userSession.hasPermission('routers', 'delete')">
          <mat-icon>delete</mat-icon>
          <span>{{ 'delete' | t }}</span>
        </button>
      </mat-menu>
    </td>
  </tr>
</app-data-table>
