:host
  display: flex
  flex-direction: column
  flex-grow: 1

header
  height: 80px
  padding: 0 10px

#content
  flex-grow: 1
  padding: 50px 100px 0 50px
  background-color: #f0f3f4

#content.no-padding
  padding: 0
