<header [ngClass]="{ 'flex-between': isAdminViewing, 'flex-end': !isAdminViewing }">
  <div *ngIf="isAdminViewing">
    <a [routerLink]="['/', 'admin', 'organizations']">{{ 'back_to_organizations' | t }}</a>
  </div>
  <div class="d-flex align-items-center">
    <div class="ms-3">
      <span>{{ 'hello' | t }}, </span>
      <span>{{ user.firstName }}</span>
    </div>
    <app-locale-select></app-locale-select>
  </div>
</header>
<div id="content" [ngClass]="{ 'no-padding': noPadding }">
  <router-outlet></router-outlet>
</div>
