@import '~src/assets/variables';

:host
  display: flex
  flex-direction: column
  flex-grow: 1
  transition: 0.3s ease

.ltr :host.opened
  margin-left: 220px

.rtl :host.opened
  margin-right: 220px

.ltr :host.closed
  margin-left: 80px

.rtl :host.closed
  margin-right: 80px

header
  height: 8.5vh
  padding: 0 10px

  .user-default-avatar
    font-size: 60px

  .user-avatar
    height: 70px
    width: 70px

#content
  flex-grow: 1
  padding: 25px 100px
  background-color: LightGreyColor

#content.no-padding
  padding: 0
