<header [ngClass]="{ 'flex-between': isAdminViewing, 'flex-end': !isAdminViewing }">
  <div *ngIf="isAdminViewing">
    <a [routerLink]="['/', 'admin', 'organizations']">{{ 'back_to_organizations' | t }}</a>
  </div>
  <div class="px-3">
    <mat-icon class="user-default-avatar" *ngIf="!user.avatar">account_circle</mat-icon>
    <img class="user-avatar" [src]="user.avatar" *ngIf="user.avatar">
<!--    <div class="ms-3">-->
<!--      <span>{{ 'hello' | t }}, </span>-->
<!--      <span>{{ user.firstName }}</span>-->
<!--    </div>-->
<!--    <app-locale-select></app-locale-select>-->
  </div>
</header>
<div id="content" [ngClass]="{ 'no-padding': noPadding }">
  <router-outlet></router-outlet>
</div>
