<mat-form-field>
  <input matInput type="search" [placeholder]="'search' | t" (keyup)="search(searchKeyword.value)" #searchKeyword>
  <i matSuffix class="la la-times pointer" (click)="resetSearch(searchKeyword)"></i>
</mat-form-field>
<div class="d-flex">
  <div>
    <ul>
      <li *ngFor="let item of filteredItems">
        <mat-checkbox [checked]="item.checked" (change)="item.checked = $event.checked" color="primary">{{ item.name }}</mat-checkbox>
      </li>
    </ul>
  </div>
  <div class="d-flex align-items-center px-3">
    <button type="button" class="btn blue-btn" (click)="addItems()">{{ 'add' | t }}</button>
  </div>
  <div>
    <ul class="mb-1">
      <li *ngFor="let item of selectedItems">
        <mat-checkbox (change)="item.checked = $event.checked" color="primary">{{ item.name }}</mat-checkbox>
      </li>
    </ul>
    <span class="blue-text pointer" (click)="removeItems()">{{ 'remove_selected' | t }}</span>
  </div>
</div>
