#fileContainer
  display: flex
  align-items: center

#fileNameContainer
  height: 36px
  flex-grow: 1
  font-size: 12px
  background-color: #f3f3f3
  padding: 0 20px

button
  height: 36px !important

