<span>Username</span>
<span>{{ exception.username ?? 'Not logged in' }}</span>
<span>Error code</span>
<span>{{ exception.code }}</span>
<span>Path</span>
<span>{{ exception.path }}</span>
<span>Line</span>
<span>{{ exception.line }}</span>
<span>Url</span>
<span>{{ exception.url }}</span>
<span>Content</span>
<span class="long-text">{{ exception.content }}</span>
<span>Trace</span>
<span class="long-text">{{ exception.trace }}</span>
<span>Created at</span>
<span>{{ exception.createdAt }}</span>
