:host
  direction ltr

::-webkit-scrollbar
  width: 5px
  height 5px

::-webkit-scrollbar-track
  background: #f1f1f1

::-webkit-scrollbar-thumb
  background: #b7b6b6

::-webkit-scrollbar-thumb:hover
  background: #9f9d9d

.long-text
  overflow-y: auto
  max-height: 150px
  font-size: 14px

.grid-container
  display: grid
  grid-template-columns: auto auto
  padding: 5px

.grid-container span
  border: 1px solid #dadada
  padding: 10px
  text-align: center

