<div class="mb-3 flex-between">
  <p class="h1">{{ formService.router ? ('edit_router' | t) : ('add_router' | t) }}</p>
  <div>
    <button type="button" class="ms-2 btn grey-btn" [routerLink]="['/platform', 'routers']">{{ 'cancel' | t }}</button>
    <button type="submit" class="btn blue-btn" (click)="submit()">{{ 'save' | t }}</button>
  </div>
</div>
<div>
  <div class="mb-4 tabs">
    <a class="tab" [ngClass]="{ active: activeTab === tab.value }" (click)="activeTab = tab.value" *ngFor="let tab of tabs">{{ tab.label | t }}</a>
  </div>
  <section [hidden]="activeTab !== 'general'">
    <app-general></app-general>
  </section>
<!--  <section [hidden]="activeTab !== 'activeMessages'">-->
<!--    <app-messages [formArray]="routerForm.get('messages.active')"></app-messages>-->
<!--  </section>-->
<!--  <section [hidden]="activeTab !== 'inactiveMessages'">-->
<!--    <app-messages [formArray]="routerForm.get('messages.inactive')"></app-messages>-->
<!--  </section>-->
  <section [formGroup]="formService.routerForm.get('keys')" [hidden]="activeTab !== 'activeRouting'">
    <app-keys [category]="'active'"></app-keys>
  </section>
  <section [hidden]="activeTab !== 'inactiveRouting'">
    <app-keys [category]="'inactive'"></app-keys>
  </section>
</div>
