<div class="mb-3 flex-between">
  <h1>{{ 'users' | t }}</h1>
  <button class="btn blue-btn" routerLink="./form" *ngIf="userSession.hasPermission('users', 'create')">
    <i class="la la-plus ms-1"></i>
    <span>{{ 'add_user' | t }}</span>
  </button>
</div>
<app-data-table [columns]="columns" [hasActionsHeader]="userSession.canModify('users')" (fetchItems)="fetchItems()"
                [hasCheckColumn]="userSession.hasPermission('users', 'update')" (openMultipleEdit)="openMultipleEdit()">
  <div class="data-table-filters">
    <bd-select [(ngModel)]="dataTable.criteria.filters['permissionId']" (ngModelChange)="dataTable.loadItems()" [placeholder]="'select_permission' | t">
      <bd-option *ngFor="let permission of permissions" [value]="permission.id">{{ permission.name }}</bd-option>
    </bd-select>
  </div>
  <tr *ngFor="let item of dataTable.items">
    <td *ngIf="userSession.hasPermission('users', 'update')">
      <mat-checkbox (change)="dataTable.checkItem(item, $event.checked)" [checked]="item.checked"></mat-checkbox>
    </td>
    <td>
      <a [routerLink]="['./', 'form', item.id]" *ngIf="userSession.hasPermission('users', 'update')">{{ item.name }}</a>
      <span *ngIf="!userSession.hasPermission('users', 'update')">{{ item.name }}</span>
    </td>
    <td>{{ item.username }}</td>
    <td>{{ item.permission ?? 'primary' | t }}</td>
    <td>{{ item.unit ? item.unit : 'user_not_assigned_to_unit' | t }}{{ item.unitCount > 1 ? '...' : '' }}</td>
    <td>{{ item.phone }}</td>
    <td>{{ item.email }}</td>
    <td class="row-icons" *ngIf="userSession.canModify('users')">
      <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item class="row-action" [routerLink]="['./', 'form', item.id]" *ngIf="userSession.hasPermission('users', 'update')">
          <mat-icon>edit</mat-icon>
          <span>{{ 'edit' | t }}</span>
        </button>
        <button mat-menu-item class="row-action" (click)="deleteItem(item.id)"
                *ngIf="userSession.hasPermission('users', 'delete') && item.id !== userSession.getUserId()">
          <mat-icon>delete</mat-icon>
          <span>{{ 'delete' | t }}</span>
        </button>
      </mat-menu>
    </td>
  </tr>
</app-data-table>
