@import '~src/assets/variables';

.criterion
  display: flex
  margin-bottom: 30px

  > :first-child
    width: 250px
    color: LightBlackColor
    font-weight: bold

  .mat-flat-button
    min-width: 50px !important
