@import '~src/assets/variables';

form
  padding: 15px 30px
  background-color: $white-color

.criterion
  display: flex
  margin-bottom: 30px

  > :first-child
    width: 250px
    color: $neutral-color-dark-2
    font-weight: bold

  .mat-flat-button
    min-width: 30px !important
