.unit-container
  display: flex
  margin-top: 20px

.unit-border
  display: flex
  align-items: center

.unit-border:after
  content: ""
  height: 3px
  width: 15px
  background-color: #00a0d1

.unit
  display: flex
  align-items: center
  width: 300px
  padding: 10px 5px
  border-right: 5px solid #00a0d1
  border-radius: 5px
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.32)
  color: #00a0d1
  cursor: pointer

  .triangle-down
    border-top-color: inherit

  .triangle-left
    border-right-color: inherit

.unit.disabled
  background-color: #bfbfbf
  pointer-events: none
  cursor: not-allowed

.active .unit
  background-color: #00a0d1
  color: #fff
  border-right-color: #fff

.unit-block
  transition: 0.3s
