<div class="dialog-header">
  <span>{{ 'duplicate_router' | t }}</span>
  <i class="la la-times" mat-dialog-close></i>
</div>
<form [formGroup]="formGroup" (ngSubmit)="submit()">
  <mat-form-field class="w-100">
    <mat-label>{{ 'new_router_name' | t }}</mat-label>
    <input matInput type="text" formControlName="name" required>
    <mat-error *ngIf="formGroup.get('name').errors?.required">{{ errorMessages.required | t }}</mat-error>
    <mat-error *ngIf="formGroup.get('name').errors?.exists">{{ 'router_name_exists' | t }}</mat-error>
  </mat-form-field>
  <div class="text-center">
    <button class="btn blue-btn" type="submit">{{ 'submit' | t }}</button>
  </div>
</form>
