@import '~src/assets/variables';

:host
  position: relative

  .date-range-picker
    display: flex
    align-items: center

  app-date-range-input
    width: 250px

    mat-form-field
      border: none

  mat-icon
    margin: -15px 10px 0 10px
    cursor: pointer
