<div class="logo flex-center">
  <span>{{ toggleState === 'opened' ? 'Call Watch Pro' : 'CWP' }}</span>
</div>
<div id="menu" class="flex-grow-1">
  <ng-container *ngFor="let module of modules">
    <a [routerLink]="['/', menuType, module.name]" class="sidebar-item" [ngClass]="{ active: module.name === activeModule }" *ngIf="!module.subModules">
      <figure>
        <img [src]="'/assets/img/modules/' + module.name + '.svg'">
      </figure>
      <span>{{ module.label ? (module.label | t) : (module.name | t) }}</span>
    </a>
    <div class="sidebar-item" (click)="module.isToggled = !module.isToggled" *ngIf="module.subModules">
      <figure>
        <img [src]="'/assets/img/modules/' + module.name + '.svg'">
      </figure>
      <div class="w-100 flex-between">
        <span>{{ module.name | t }}</span>
        <mat-icon class="mx-2 arrow" [ngClass]="{ 'rotate-side': module.isToggled }">arrow_left</mat-icon>
      </div>
    </div>
    <div *ngIf="module.subModules" class="sub-modules" [ngStyle]="{ height: module.isToggled ? (module.subModules.length * 80) + 'px' : 0 }">
      <a *ngFor="let subModule of module.subModules"
        [ngClass]="{ active: subModule.name === activeModule }"
        [routerLink]="subModule.hasParentPrefix ? ['/', menuType, module.name, subModule.name] : ['/', menuType, subModule.name]"
        class="justify-content-center sidebar-item">{{ subModule.label ? (subModule.label | t) : (subModule.name | t) }}</a>
    </div>
  </ng-container>
</div>
<div id="logout" class="sidebar-item" (click)="logout()">
  <figure>
    <img src="/assets/img/icons/logout.svg">
  </figure>
  <span>{{ 'exit' | t }}</span>
</div>
<div id="toggleSidebar" class="px-3 sidebar-item" [ngClass]="{ 'justify-content-end': toggleState === 'opened', 'justify-content-center': toggleState === 'closed' }">
  <i class="la la-angle-right f-20" *ngIf="(pageDirection === 'rtl' && toggleState === 'opened') || (pageDirection === 'ltr' && toggleState === 'closed')" (click)="toggleSidebar()"></i>
  <i class="la la-angle-left f-20" *ngIf="(pageDirection === 'ltr' && toggleState === 'opened') || (pageDirection === 'rtl' && toggleState === 'closed')" (click)="toggleSidebar()"></i>
</div>
