@import '~src/assets/variables';

:host
  position: fixed
  top: 0
  height: 100vh
  flex-direction: column
  background-color: #1e2635
  color: #fff
  transition: 0.3s ease

.rtl :host
  right: 0

.ltr :host
  left: 0

:host.opened
  width: 220px

:host.closed
  width: 80px

  .sidebar-item

    span
      opacity: 0
      pointer-events: none

    .arrow
      display: none

.logo
  height: 8.5vh !important
  min-height: 80px
  background-color: BlueColor

  span
    max-height: 40px
    overflow: hidden
    word-break: break-all

#menu
  display: flex
  flex-direction: column
  justify-content: space-between
  height: 86vh
  overflow-y: auto
  overflow-x: hidden

:host.closed
  #menu
    overflow: visible

#modules

  .sidebar-item:hover, .sidebar-item.active
    background-color: BlueColor

.sidebar-item
  display: flex
  align-items: center
  height: 70px
  color: #fff
  cursor: pointer
  transition: 0.3s

  figure
    display: flex
    align-items: center
    margin: 0 25px

    mat-icon
      font-size: 32px

  span
    max-height: 30px
    overflow: hidden
    transition: 0.3s

.rtl :host .sidebar-item.active
  border-right: 12px solid LighterBlueColor

  figure
    margin: 0 13px 0 25px !important

.ltr :host .sidebar-item.active
  border-left: 12px solid LighterBlueColor

  figure
    margin: 0 25px 0 13px !important

.sub-modules
  overflow: hidden

  .sidebar-item
    background-color: DarkBlueColor
    font-size: 14px

  :before
    content: ""
    width: 80px

  .sidebar-item.active, .sidebar-item:hover
    color: LighterBlueColor !important
    font-weight: bold
    border: none
    background-color: DarkBlueColor !important

:host.closed
  .sub-modules
    display: none

#toggleSidebar
  height: 5.5vh
  background-color: BlueColor

  mat-icon
    margin: 0
    font-size: 20px
