@import '~src/assets/variables';

:host
  display: flex
  flex-direction: column
  background-color: DarkBlueColor
  color: #fff
  transition: 0.3s

:host.opened
  width: 260px

  img
    margin: 0 10px

:host.closed
  width: 80px

  .sidebar-item
    justify-content: center !important

  span
    display: none

.logo
  height: 80px
  background-color: BlueColor

#menu
  transition: 0.3s

  .sidebar-item:hover, .sidebar-item.active
    background-color: BlueColor

  .sub-modules
    transition: 0.5s
    overflow: hidden

.sidebar-item
  display: flex
  align-items: center
  height: 60px
  color: #fff
  cursor: pointer
  transition: 0.3s

  img
    height: 30px
    width: 30px

#toggleSidebar
  background-color: BlueColor

  img
    height: 20px
    width: 20px
    margin-left: 0
