<div id="logo"></div>
<div id="menu" class="flex-grow-1" [ngClass]="{ 'opened': isOpened, 'closed': !isOpened }">
  <ng-container *ngFor="let module of modules">
    <a [routerLink]="['/', menuType, module.name]" class="sidebar-item" [ngClass]="{ active: module.name === activeModule }" *ngIf="!module.subModules">
      <img [src]="'/assets/img/modules/' + module.name + '.svg'">
      <span class="name">{{ module.name | t }}</span>
    </a>
    <div class="sidebar-item justify-content-between" (click)="module.isToggled = !module.isToggled" *ngIf="module.subModules">
      <div>
        <img [src]="'/assets/img/modules/' + module.name + '.svg'">
        <span class="name">{{ module.name | t }}</span>
      </div>
      <span class="ms-3" [ngClass]="{ 'triangle-left': !module.isToggled, 'triangle-down': module.isToggled }"></span>
    </div>
    <div *ngIf="module.subModules" class="sub-modules" [ngStyle]="{ height: module.isToggled ? (module.subModules.length * 50) + 'px' : 0 }">
      <a *ngFor="let subModule of module.subModules" [routerLink]="subModule.hasParentPrefix ? ['/', menuType, module.name, subModule.name] : ['/', menuType, subModule.name]" class="justify-content-center sidebar-item">{{ subModule.name | t }}</a>
    </div>
  </ng-container>
</div>
<div id="logout" class="px-3 sidebar-item" (click)="logout()">
  <i class="la la-sign-out ms-1 f-18"></i>
  <span class="f-14 name">{{ 'sign_out' | t }}</span>
</div>
<!--<div id="toggleSidebar" class="justify-content-end sidebar-item">-->
<!--  <i class="la la-bars" (click)="isOpened = !isOpened"></i>-->
<!--</div>-->
