<!--<div class="dialog-header">-->
<!--  <span>{{ organization ? organization.name : 'add_organization' | t }}</span>-->
<!--  <i class="la la-times" mat-dialog-close></i>-->
<!--</div>-->
<!--<form (ngSubmit)="submit(form)" class="d-flex flex-column" #form="ngForm">-->
<!--  <mat-form-field class="mb-3">-->
<!--    <mat-label>{{ 'organization_name' | t }}</mat-label>-->
<!--    <input matInput type="text" name="name" [ngModel]="organization.name">-->
<!--  </mat-form-field>-->
<!--  <div class="mb-3">-->
<!--    <mat-checkbox name="isActive" [ngModel]="organization.isActive">{{ 'active' | t }}</mat-checkbox>-->
<!--  </div>-->
<!--  <div>-->
<!--&lt;!&ndash;    <button mat-flat-button class="btn grey-btn ms-3" type="button" mat-dialog-close>{{ 'cancel' | t }}</button>&ndash;&gt;-->
<!--&lt;!&ndash;    <button mat-flat-button class="btn blue-btn" type="submit">{{ 'confirm' | t }}</button>&ndash;&gt;-->
<!--  </div>-->
<!--</form>-->
