<form (ngSubmit)="submit()" [formGroup]="formGroup">
  <div class="form-header">
    <p class="h1">{{ scheduleId ? ('edit_schedule' | t) : ('add_schedule' | t) }}</p>
    <div>
      <button type="button" class="ms-2 btn grey-btn" [routerLink]="['/platform', 'settings', 'schedules']">{{ 'cancel' | t }}</button>
      <button type="submit" class="btn blue-btn">{{ 'save' | t }}</button>
    </div>
  </div>
  <div class="form-body">
    <p class="h3 mb-3">{{ 'schedule_details' | t }}</p>
    <div class="row mb-3">
      <div class="col-12 col-lg-3">
        <mat-form-field>
          <mat-label>{{ 'schedule_name' | t }}</mat-label>
          <input matInput type="text" formControlName="name" required>
          <mat-error>{{ errorMessages.required | t }}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-12 col-lg-3">
        <mat-form-field>
          <mat-label>{{ 'schedule_type' | t }}</mat-label>
          <mat-select formControlName="type" (valueChange)="typeChanged($event)" #typeInput required>
            <mat-option *ngFor="let type of types" [value]="type">{{ type | t }}</mat-option>
          </mat-select>
          <mat-error>{{ errorMessages.required | t }}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-12 col-lg-3" *ngIf="formGroup.get('type').value === 'regular'">
        <mat-form-field>
          <mat-label>{{ 'unique_schedule' | t }}</mat-label>
          <mat-select formControlName="uniqueSchedule" (valueChange)="typeChanged($event)">
            <mat-option>-------</mat-option>
            <mat-option *ngFor="let schedule of uniqueSchedules" [value]="schedule.id">{{ schedule.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-3">
        <app-tags-input [placeholder]="'tags' | t" [type]="'schedule'" formControlName="tags"></app-tags-input>
      </div>
      <div class="col-12 col-lg-6">
        <mat-form-field>
          <mat-label>{{ 'description' | t }}</mat-label>
          <textarea matInput formControlName="description" rows="6"></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
</form>
<form #callTimeFormDirective="ngForm" (ngSubmit)="addCallTime()" [formGroup]="callTimeForm">
  <div class="form-body">
    <p class="h3 mb-3">{{ 'activity_times' | t }}</p>
    <div class="row align-items-center">
      <div class="col-12 col-lg-3" *ngIf="typeInput.value !== 'unique'">
        <mat-form-field>
          <mat-label>{{ 'select_day' | t }}</mat-label>
          <mat-select formControlName="day" required>
            <mat-option *ngFor="let day of weekDays" [value]="day">{{ day | t }}</mat-option>
          </mat-select>
          <mat-error>{{ errorMessages.required | t }}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-12 col-lg-3" *ngIf="typeInput.value === 'unique'">
        <div>
          <bd-select class="w-100" formControlName="day" [placeholder]="'select_unique_day' | t" [hasError]="callTimeForm.get('day').errors && callTimeFormDirective.submitted" [required]="true" (ngModelChange)="loadDayTimes()">
            <bd-option *ngFor="let day of uniqueDays" [value]="day">{{ day.name | t }}</bd-option>
          </bd-select>
          <div class="input-error" *ngIf="callTimeForm.get('day').errors && callTimeFormDirective.submitted">{{ errorMessages.required | t }}</div>
        </div>
      </div>
      <div class="col-12 col-lg-3" *ngIf="typeInput.value === 'unique'">
        <mat-form-field>
          <mat-label>{{ 'from_date' | t }}</mat-label>
          <input matInput type="date" [value]="callTimeForm.get('day').value ? callTimeForm.get('day').value.startDate : null" disabled>
        </mat-form-field>
      </div>
      <div class="col-12 col-lg-3" *ngIf="formGroup.get('type').value === 'unique'">
        <mat-form-field>
          <mat-label>{{ 'to_date' | t }}</mat-label>
          <input matInput type="date" [value]="callTimeForm.get('day').value ? callTimeForm.get('day').value.endDate : null" disabled>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-3">
        <mat-form-field>
          <mat-label>{{ 'from_hour' | t }}</mat-label>
          <input matInput type="time" formControlName="startTime" [required]="!allDayInput.checked">
          <mat-error>{{ errorMessages.required | t }}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-12 col-lg-3">
        <mat-form-field>
          <mat-label>{{ 'to_hour' | t }}</mat-label>
          <input matInput type="time" formControlName="endTime" [required]="!allDayInput.checked">
          <mat-error *ngIf="callTimeForm.get('endTime').errors">{{ errorMessages.required | t }}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-12 col-lg-3 mt-lg-3">
        <mat-checkbox class="d-block d-lg-inline-block ms-3" (change)="allDayChecked(allDayInput.checked)" formControlName="allDay" #allDayInput>{{ 'all_day' | t }}</mat-checkbox>
        <button type="submit" class="my-3 my-lg-0 mt-lg-1 btn blue-btn">{{ 'add' | t }}</button>
      </div>
    </div>
    <table class="table table-striped simple-table">
      <thead>
      <tr>
        <th>{{ 'day' | t }}</th>
        <th *ngIf="typeInput.value === 'unique'">{{ 'from_date' | t }}</th>
        <th *ngIf="typeInput.value === 'unique'">{{ 'to_date' | t }}</th>
        <th>{{ 'from_hour' | t }}</th>
        <th>{{ 'to_hour' | t }}</th>
        <th>{{ 'all_day' | t }}</th>
        <th>{{ 'active' | t }}</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let callTime of callTimes; let index = index">
        <td>{{ typeInput.value === 'unique' ? (callTime.day.name) : (callTime.day | t) }}</td>
        <td *ngIf="typeInput.value === 'unique'">{{ callTime.day.startDate | date: 'd/MM/Y' }}</td>
        <td *ngIf="typeInput.value === 'unique'">{{ callTime.day.endDate | date: 'd/MM/Y' }}</td>
        <td>
          <span *ngIf="!callTime.editing">{{ callTime.startTime ?? ('all_day' | t) }}</span>
          <input type="time" #startTimeInput [value]="callTime.startTime" [disabled]="rowAllDayInput.checked" [hidden]="!callTime.editing">
        </td>
        <td>
          <span *ngIf="!callTime.editing">{{ callTime.endTime ?? ('all_day' | t) }}</span>
          <input type="time" #endTimeInput [value]="callTime.endTime" [disabled]="rowAllDayInput.checked" [hidden]="!callTime.editing">
        </td>
        <td>
          <mat-checkbox #rowAllDayInput [checked]="callTime.allDay" [disabled]="!callTime.editing"></mat-checkbox>
        </td>
        <td>
          <mat-slide-toggle [checked]="callTime.isActive" (change)="callTime.isActive = $event.checked"></mat-slide-toggle>
        </td>
        <td class="row-icons">
          <div class="d-flex align-items-center">
            <button class="ms-2 btn blue-btn" type="button" (click)="confirmTimeUpdate(callTime, startTimeInput.value, endTimeInput.value, rowAllDayInput.checked)" *ngIf="callTime.editing">{{ 'confirm' | t }}</button>
            <mat-icon class="ms-2" (click)="callTime.editing = true" *ngIf="!callTime.editing">edit</mat-icon>
            <mat-icon (click)="removeCallTime(index)">delete</mat-icon>
          </div>
        </td>
      </tr>
      <tr *ngIf="callTimes.length === 0">
        <td class="text-center" [attr.colspan]="typeInput.value === 'unique' ? 7 : 5">{{ 'call_times_not_added' | t }}.</td>
      </tr>
      </tbody>
    </table>
  </div>
</form>
