<div class="mb-3 flex-between">
  <p class="h1">{{ 'organizations' | t }}</p>
  <div>
    <button class="btn blue-btn" routerLink="./form">
      <i class="la la-plus ms-1"></i>
      <span>{{ 'add_organization' | t }}</span>
    </button>
  </div>
</div>
<app-data-table [columns]="columns" [hasCheckColumn]="false" (fetchItems)="fetchItems()">
  <tr *ngFor="let item of dataTable.items">
    <td>
      <a [routerLink]="['./', 'form', item.id]">{{ item.name }}</a>
    </td>
    <td>{{ item.isActive ? ('active' | t) : ('inactive' | t) }}</td>
    <td class="row-icons">
      <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item class="row-action" (click)="enterOrganization(item)">
          <mat-icon>login</mat-icon>
          <span>{{ 'enter_organization' | t }}</span>
        </button>
        <button mat-menu-item class="row-action" [routerLink]="['./', 'form', item.id]">
          <mat-icon>edit</mat-icon>
          <span>{{ 'edit' | t }}</span>
        </button>
      </mat-menu>
    </td>
  </tr>
</app-data-table>
