<div class="mb-3 flex-between">
  <p class="h1">{{ 'callbacks' | t }}</p>
  <div>
    <button class="btn blue-btn" routerLink="./form" *ngIf="userSession.hasPermission('callbacks', 'create')">
      <i class="la la-plus ms-1"></i>
      <span>{{ 'add_callback' | t }}</span>
    </button>
  </div>
</div>
<app-data-table [columns]="columns" [hasActionsHeader]="true" [hasCheckColumn]="false" (fetchItems)="fetchItems()">
	<tr *ngFor="let item of dataTable.items">
		<td>{{ item.name }}</td>
    <td>{{ item.schedule ? item.schedule : 'no_schedule_assigned' | t }}</td>
    <td class="row-icons" *ngIf="userSession.canModify('schedules')">
      <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item class="row-action" [routerLink]="['./', 'form', item.id]" *ngIf="userSession.hasPermission('schedules', 'update')">
          <mat-icon>edit</mat-icon>
          <span>{{ 'edit' | t }}</span>
        </button>
        <button mat-menu-item class="row-action" (click)="deleteItem(item.id)" *ngIf="userSession.hasPermission('schedules', 'delete')">
          <mat-icon>delete</mat-icon>
          <span>{{ 'delete' | t }}</span>
        </button>
      </mat-menu>
    </td>
	</tr>
</app-data-table>
