<form (ngSubmit)="submit()" [formGroup]="passwordForm">
  <mat-form-field class="w-100">
    <mat-label>{{ 'password' | t }}</mat-label>
    <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="password" required>
    <mat-icon matSuffix class="pointer" (click)="showPassword = !showPassword">{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    <mat-error>{{ errorMessages.required | t }}</mat-error>
  </mat-form-field>
  <mat-form-field class="w-100">
    <mat-label>{{ 'repeat_password' | t }}</mat-label>
    <input matInput [type]="showRepeatPassword ? 'text' : 'password'" formControlName="repeatPassword" required>
    <mat-icon matSuffix class="pointer" (click)="showRepeatPassword = !showRepeatPassword">{{ showRepeatPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    <mat-error>{{ errorMessages.required | t }}</mat-error>
  </mat-form-field>
  <p class="alert alert-danger py-3" [@fade]="passwordForm.errors && passwordForm.get('password').value && passwordForm.get('repeatPassword').value ? 'active' : 'inactive'">{{ 'passwords_dont_match' | t }}</p>
  <div class="text-center">
    <button class="btn primary-btn" type="submit">{{ 'confirm' | t }}</button>
  </div>
</form>
