@import '../../../variables'
@import '../../../extendables'

select
	background-color: $background-color-2

.card
	padding: 10px 0
	border: none

.card-header, .card-footer
	background: transparent
	border: none

.card-header
	@extend .flex-between
	height: 50px
	padding: 8px 20px
	
	.card-title
		margin: 0
		font-size: 18px
	
.card-trend
	padding: 4px 8px
	border-radius: 12px
	direction: ltr

.card-trend-positive
	background: $kpi-color-up

	> *
		color: $primary-color !important

.card-trend-negative
	background: $kpi-color-down
	
	> *
		color: $kpi-color-down-text !important
		
.card-body
	display: flex
	align-items: center
	flex-grow: 1
	padding: 15px 40px
	border-left: 1px solid $stroke-color-1

	> *
		color: $primary-color

//body.rtl .card-body
//	border-left: 1px solid $stroke-color-1
//
//body.ltr .card-body
//	border-right: 1px solid $stroke-color-1

.card-body:last-of-type
	border: none
	
.card-value
	font-size: 32px
	font-weight: bold

.card-value-desc
	font-size: 20px

.card-footer
	color: $text-color-3
	text-align: center
	font-size: 12px
