@import '../../../variables'

.card-header
	background: $primary-color

.card-title
	font-size: 1.2rem
	font-weight: bold
	color: $white-color

.card-body
	padding: 30px 0
	text-align: center

.card-value
	margin: 0
	font-size: 2rem
	font-weight: bold
	color: $primary-color

.card-value-desc
	color: $primary-color-dark-1
	font-weight: bold
