<div class="flex-between mb-3">
	<p class="h3">{{ 'primary_performance' | t }}</p>
	<select [value]="reportCriteriaInterval" (change)="changeInterval($event.target['value'])">
		<option value="day">{{ 'today' | t }}</option>
		<option value="week">{{ 'this_week' | t }}</option>
		<option value="month">{{ 'this_month' | t }}</option>
		<option value="year">{{ 'this_Year' | t }}</option>
	</select>
</div>
<div class="row gx-0 mb-5">
	<div class="col-12 col-lg-3 mb-3" *ngFor="let kpi of kpis; let index = index">
		<app-kpi-chart
			[result]="results[kpi.value]"
			[labels]="{
				title: kpi.title,
				valueDesc: 'kpi_value_text_' + (index + 1),
				footer: 'kpi_footer_text_' + (index + 1)
			}">
		</app-kpi-chart>
	</div>
</div>
<div class="row">
	<div class="col-12 col-lg-6">
		<app-donut-chart
			[labels]="{ main: 'requests_status', firstStat: 'requests_answered', secondStat: 'open_requests' }"
			[totalStat]="results.conversationsCount"
			[firstStat]="results.answeredCount"
			[secondStat]="results.unansweredCount">
		</app-donut-chart>
	</div>
	<div class="col-12 col-lg-6">
		<app-donut-chart
			[labels]="{ main: 'forwarded_requests', firstStat: 'forwarded_requests', secondStat: 'requests_not_forwarded' }"
			[totalStat]="results.conversationsCount"
			[firstStat]="results.forwardedCount"
			[secondStat]="results.notForwardedCount">
		</app-donut-chart>
	</div>
</div>
