<div class="row">
	<div class="col-12 col-lg-4 mb-3">
		<div class="card">
			<div class="card-header">
				<p class="card-title">{{ 'average_response_time' | t }}</p>
			</div>
			<div class="card-body">
				<p class="card-value">{{ insights.averageResponseTime }} </p>
				<p class="card-value-desc">{{ 'minutes' | t }}</p>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-4 mb-3">
		<div class="card">
			<div class="card-header">
				<p class="card-title">{{ 'conversation_count' | t }}</p>
			</div>
			<div class="card-body">
				<p class="card-value">{{ insights.conversations }} </p>
				<p class="card-value-desc"></p>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-4 mb-3">
		<div class="card">
			<div class="card-header">
				<p class="card-title">{{ 'number_of_mails_per_conversation' | t }}</p>
			</div>
			<div class="card-body">
				<p class="card-value">{{ insights.messages }} </p>
				<p class="card-value-desc"></p>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-4 mb-3">
		<div class="card">
			<div class="card-header">
				<p class="card-title">{{ 'mailbox_count' | t }}</p>
			</div>
			<div class="card-body">
				<p class="card-value">{{ insights.mailboxes }} </p>
				<p class="card-value-desc"></p>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-4 mb-3">
		<div class="card">
			<div class="card-header">
				<p class="card-title">{{ 'unit_count' | t }}</p>
			</div>
			<div class="card-body">
				<p class="card-value">{{ insights.units }} </p>
				<p class="card-value-desc"></p>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-4 mb-3">
		<div class="card">
			<div class="card-header">
				<p class="card-title">{{ 'answered' | t }}</p>
			</div>
			<div class="card-body">
				<p class="card-value">{{ insights.answeredCount }} </p>
				<p class="card-value-desc"></p>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-4 mb-3">
		<div class="card">
			<div class="card-header">
				<p class="card-title">{{ 'open' | t }}</p>
			</div>
			<div class="card-body">
				<p class="card-value">{{ insights.openCount }} </p>
				<p class="card-value-desc"></p>
			</div>
		</div>
	</div>
</div>
