<div class="mb-3 flex-between">
  <p class="h3">{{ 'permission_management' | t }}</p>
  <div>
    <button class="btn primary-btn" routerLink="form" *ngIf="userSession.hasPermission('permissions', 'create')">
      <i class="la la-plus ms-1"></i>
      <span>{{ 'add_permission' | t }}</span>
    </button>
  </div>
</div>
<app-data-table tableUrl="permissions" [columns]="columns" [hasActionsHeader]="userSession.canModify('permissions')" [hasCheckColumn]="false" (fetchItems)="fetchItems()">
  <tr *ngFor="let item of dataTable.items">
    <td>
      <a [routerLink]="['./', 'form', item._id]" *ngIf="userSession.hasPermission('permissions', 'update')">{{ item.name }}</a>
      <span *ngIf="!userSession.hasPermission('permissions', 'update')">{{ item.name }}</span>
    </td>
    <td>{{ item.description }}</td>
    <td>{{ item.userCount }}</td>
    <td class="row-icons" *ngIf="userSession.canModify('permissions')">
      <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item class="row-action" [routerLink]="['./', 'form', item._id]" *ngIf="userSession.hasPermission('permissions', 'update')">
          <mat-icon>edit</mat-icon>
          <span>{{ 'edit' | t }}</span>
        </button>
        <button mat-menu-item class="row-action" (click)="deleteItem(item)" *ngIf="userSession.hasPermission('permissions', 'delete')">
          <mat-icon>delete</mat-icon>
          <span>{{ 'delete' | t }}</span>
        </button>
      </mat-menu>
    </td>
  </tr>
</app-data-table>
