<form [formGroup]="formGroup" #form="ngForm">
  <div class="form-header">
    <p class="h1">{{ acd ? ('edit_acd' | t) : ('add_acd' | t) }}</p>
    <div>
      <button type="button" class="ms-2 btn grey-btn" [routerLink]="['/platform', 'acds']">{{ 'cancel' | t }}</button>
      <button type="button" class="btn blue-btn" (ngSubmit)="submit()">{{ 'save' | t }}</button>
    </div>
  </div>
  <div class="form-body">
    <div class="tabs">
      <a class="tab" [ngClass]="{ active: activeTab === tab.value }" (click)="activeTab = tab.value" *ngFor="let tab of tabs">{{ tab.label | t }}</a>
    </div>
    <section formGroupName="general" [hidden]="activeTab !== 'general'">
      <div class="row">
        <div class="col-12 col-lg-3">
          <mat-form-field>
            <mat-label>{{ 'group_name' | t }}</mat-label>
            <input matInput type="text" formControlName="name" required>
            <mat-error>{{ errorMessages.required | t }}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-12 col-lg-3">
          <mat-form-field>
            <mat-label>{{ 'group_type' | t }}</mat-label>
            <mat-select formControlName="type" required>
              <mat-option *ngFor="let type of selects.types" [value]="type.id">{{ type.name }}</mat-option>
            </mat-select>
            <mat-error>{{ errorMessages.required | t }}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-12 col-lg-3">
          <app-unit-select formControlName="unit" [units]="selects.units" [placeholder]="'select_units' | t" [required]="true"></app-unit-select>
          <mat-error *ngIf="formGroup.get('general.unit').invalid && form.submitted">{{ errorMessages.required | t }}</mat-error>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-6">
          <mat-form-field>
            <mat-label>{{ 'description' | t }}</mat-label>
            <textarea rows="8" matInput formControlName="description"></textarea>
          </mat-form-field>
        </div>
      </div>
    </section>
    <section formGroupName="switchboard" [hidden]="activeTab !== 'switchboard'">
      <div class="row mb-3">
        <div class="col-12 col-lg-3">
          <mat-form-field>
            <mat-label>{{ 'group_number' | t }}</mat-label>
            <input matInput type="text" formControlName="number" required>
            <mat-error *ngIf="formGroup.get('switchboard.number').errors?.required">{{ errorMessages.required | t }}</mat-error>
            <mat-error *ngIf="formGroup.get('switchboard.number').errors?.exists">{{ 'group_number_uniqueness_error' | t }}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-12 col-lg-3">
          <mat-form-field>
            <mat-label>{{ 'hunt_pilot_number' | t }}</mat-label>
            <input matInput type="text" formControlName="huntPilot">
            <mat-error>{{ 'hunt_uniqueness_error' | t }}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-12 col-lg-3">
          <mat-form-field>
            <mat-label>{{ 'secondary_hunt_pilot_number' | t }}</mat-label>
            <input matInput type="text" formControlName="secondaryHuntPilot">
            <mat-error>{{ 'secondary_hunt_uniqueness_error' | t }}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-12 col-lg-3">
          <mat-form-field>
            <mat-label>{{ 'queue_full_overflow_number' | t }}</mat-label>
            <input matInput type="text" formControlName="queueFullOverflow">
          </mat-form-field>
        </div>
        <div class="col-12 col-lg-3">
          <mat-form-field>
            <mat-label>{{ 'max_wait_time_overflow_number' | t }}</mat-label>
            <input matInput type="text" formControlName="maxWaitTime">
          </mat-form-field>
        </div>
        <div class="col-12 col-lg-3">
          <mat-form-field>
            <mat-label>{{ 'no_agent_overflow_number' | t }}</mat-label>
            <input matInput type="text" formControlName="noAgentOverflow">
          </mat-form-field>
        </div>
        <div class="col-12 col-lg-3">
          <mat-form-field>
            <mat-label>{{ 'no_answer_redirection' | t }}</mat-label>
            <input matInput type="text" formControlName="noAnswerRedirection">
          </mat-form-field>
        </div>
        <div class="col-12 col-lg-3">
          <mat-form-field>
            <mat-label>{{ 'busy_sound_redirection' | t }}</mat-label>
            <input matInput type="text" formControlName="busyRedirection">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-3">
          <mat-checkbox formControlName="isBroadcast">{{ 'is_broadcast' | t }}</mat-checkbox>
        </div>
        <div class="col-12 col-lg-3">
          <mat-checkbox formControlName="hasQueue">{{ 'has_queue' | t }}</mat-checkbox>
        </div>
      </div>
    </section>
    <section [hidden]="activeTab !== 'extensions'">
      <app-dual-groups-select formControlName="extensions" [placeholder]="'groups'" [items]="selects.extensions"></app-dual-groups-select>
    </section>
    <section formGroupName="callback" [hidden]="activeTab !== 'callback'">
      <div class="row">
        <div class="col-12 col-lg-3">
          <mat-form-field>
            <mat-label>{{ 'dialer_profile' | t }}</mat-label>
            <mat-select formControlName="callback" required>
              <mat-option *ngFor="let callback of selects.callbacks" [value]="callback.id">{{ callback.name }}</mat-option>
            </mat-select>
            <mat-error>{{ errorMessages.required }}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-12 col-lg-3">
          <mat-form-field>
            <mat-label>{{ 'dialer_ivr' | t }}</mat-label>
            <mat-select formControlName="router">
              <mat-option>-------</mat-option>
              <mat-option *ngFor="let router of selects.routers" [value]="router.id">{{ router.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-3">
          <mat-form-field>
            <mat-label>{{ 'lbl_overflow' | t }}</mat-label>
            <input matInput type="text" formControlName="overflowNumber" required>
            <mat-error>{{ errorMessages.required }}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-12 col-lg-3">
          <mat-form-field>
            <mat-label>{{ 'email' | t }}</mat-label>
            <input matInput type="email" formControlName="email">
            <mat-error>{{ errorMessages.email | t }}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-12 col-lg-3">
          <mat-form-field>
            <mat-label>{{ 'dial_outgoing_tel_line' | t }}</mat-label>
            <input matInput type="text" formControlName="dialerCallerID">
          </mat-form-field>
        </div>
      </div>
    </section>
  </div>
</form>
