<header [ngClass]="{ 'flex-between': user.isAdmin, 'flex-end': !user.isAdmin }">
  <div *ngIf="user.isAdmin">
    <button mat-raised-button [routerLink]="['/admin', 'organizations']" *ngIf="isAdminViewing">{{ 'back_to_organizations' | t }}</button>
    <button mat-raised-button class="mx-3 blue-btn" (click)="locale.showTranslationKeys = !locale.showTranslationKeys">
      {{ !locale.showTranslationKeys ? ('show_translation_keys' | t) : ('hide_translation_keys' | t) }}
    </button>
  </div>
  <div *ngIf="user.extension">
    <span class="ms-2 bold">{{ 'extension' | t }}:</span>
    <span>{{ user.extension }}</span>
  </div>
  <div class="d-flex align-items-center px-3">
    <mat-icon class="user-default-avatar" *ngIf="!user.avatar">account_circle</mat-icon>
    <img class="user-avatar" [src]="user.avatar" *ngIf="user.avatar">
    <span id="username">{{ user.firstName + ' ' + user.lastName }}</span>
    <mat-icon class="pointer" [matMenuTriggerFor]="menu">expand_more</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">{{ 'logout' | t }}</button>
    </mat-menu>
  </div>
</header>
<div id="content" [ngClass]="{ 'no-padding': noPadding }">
  <router-outlet></router-outlet>
</div>
