@import '~src/assets/variables';

ul
  margin: 2px 19px 0 0

  li
    margin: 0
    padding: 0 3px
    line-height: 20px
    color: #369
    font-weight: bold
    border-right: 1px solid rgb(100, 100, 100)
    cursor: pointer

    i
      border: 1px solid

    span.active
      text-decoration: underline

  li:last-child
    border-right: none

  li:before
    position: relative
    top: -0.3em
    right: -3px
    display: inline-block
    height: 40px
    width: 12px
    color: #fff
    border-bottom: 1px solid rgb(100, 100, 100)
    content: ""

  li:last-child:before
    border-right: 1px solid rgb(100, 100, 100)

  li.disabled
    pointer-events: none
    color: GreyColor

ul.toggled
  visibility: hidden

#tree
  margin: 0

  > li
    border-right: none

  > li:before
    content: none

