<div class="loader" *ngIf="loadingUnits"></div>
<ul id="tree" *ngIf="!loadingUnits" (dragover)="allowDrop($event)">
  <li (drop)="drop($event, rootUnit)">
    <span (dragover)="allowDrop($event)"
          [ngClass]="{ 'active': !activeUnit || activeUnit?._id === AppConstants.ROOT_UNIT_ID }"
          [routerLink]="['/platform', 'units', AppConstants.ROOT_UNIT_ID]">
      {{ rootUnit.name }}
    </span>
  </li>
  <ul id="mainBranch">
    <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ list: rootUnit.units }"></ng-container>
  </ul>
</ul>

<ng-template #recursiveListTmpl let-list="list">
  <li *ngFor="let unit of list" (drop)="drop($event, unit)">
    <!-- Expand/collapse icon with loading indicator -->
    <ng-container *ngIf="unit.units?.length > 0 || unit.loading">
      <i class="ms-2 la" *ngIf="!unit.loading"
         [ngClass]="{ 'la-plus': !unit.isToggled, 'la-minus': unit.isToggled }"
         (click)="toggleUnit(unit)"></i>
      <mat-spinner diameter="16" *ngIf="unit.loading" class="ms-2"></mat-spinner>
    </ng-container>

    <!-- Unit name -->
    <span [draggable]="!unit.disabled"
          [ngClass]="{ 'disabled': unit.disabled, 'active': activeUnit._id === unit._id }"
          (dragstart)="dragStart($event, unit)"
          (click)="unitClicked(unit)">
      {{ unit.name }}
    </span>

    <!-- Recursive child units -->
    <ul *ngIf="unit.units" [ngClass]="{ 'toggled': unit.isToggled }">
      <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ list: unit.units }"></ng-container>
    </ul>
  </li>
</ng-template>

<!-- Hidden element used as drag image template -->
<div id="dragPlaceholder" #dragPlaceholder></div>
