@import '~src/assets/variables';

:host
  position: absolute
  top: 50px
  right: 0
  display: inline-flex
  z-index: 999999999
  padding: 10px
  flex-direction: column
  background-color: #fff
  border: 1px solid rgba(0, 0, 0, 0.05)
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1)

.calendar
  width: 245px

.month-header
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 10px

  .month-title
    margin-bottom: 0
    color: BlueColor
    text-align: center
    font-size: 16px
    font-weight: bold

  mat-icon
    cursor: pointer

.ltr :host mat-icon
  transform: rotate(180deg)

.calendar:first-of-type .month-header:after
  content: ""

.calendar:nth-child(3) .month-header:before
  content: ""

mat-divider
  margin: 0 15px

.week-day, .month-day
  width: 35px
  text-align: center

.week-day
  font-size: 12px

.week-day.weekend
  color: LighterBlueColor

.month-day
  display: flex
  justify-content: center
  align-items: center
  height: 35px
  font-size: 14px
  color: DarkBlueColor
  font-weight: bold
  cursor: pointer

.month-day.selected
    span
      display: inline-flex
      align-items: center
      justify-content: center
      height: 28px
      width: 28px
      background-color: LighterBlueColor
      color: #fff
      border-radius: 50%

.month-day.in-range
  background-color: #e6f2ff

.quick-selection
  padding: 20px 10px

  p
    color: DarkGreyColor
    font-size: 14px
    font-weight: bold

  .labels
    width: 216px

    .label
      width: 100px
      margin: 10px 4px
      padding: 4px
      text-align: center
      border-radius: 8px
      background-color: #e6f2ff
      cursor: pointer
