<div [formGroup]="routerForm">
  <div class="row mb-3">
    <div class="col-12 col-lg-3">
      <mat-form-field class="w-100">
        <mat-label>{{ 'router_name' | t }}</mat-label>
        <input matInput type="text" formControlName="name" required>
        <mat-error>{{ errorMessages.required | t }}</mat-error>
      </mat-form-field>
    </div>
    <div class="col-12 col-lg-3">
      <app-chips-input [placeholder]="'tags' | t" [type]="'router'" formControlName="tags"></app-chips-input>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-6">
      <mat-form-field class="w-100">
        <mat-label>{{ 'description' | t }}</mat-label>
        <textarea rows="8" matInput formControlName="description"></textarea>
      </mat-form-field>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12 col-lg-3">
      <mat-form-field class="w-100">
        <mat-label>{{ 'schedule' | t }}</mat-label>
        <mat-select formControlName="schedule">
          <mat-option *ngFor="let schedule of formService.schedules" [value]="schedule.id">{{ schedule.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12 col-lg-3">
      <app-chips-input formControlName="dialedNumbers" [type]="'routerNumber'" [placeholder]="'dialed_numbers' | t"></app-chips-input>
    </div>
    <div class="col-12 col-lg-3">
      <mat-form-field class="w-100">
        <mat-label>{{ 'router_admin_code' | t }}</mat-label>
        <input matInput type="text" formControlName="adminCode">
      </mat-form-field>
    </div>
    <div class="col-12 col-lg-3">
      <mat-form-field class="w-100">
        <mat-label>{{ 'default_selection_seconds' | t }}</mat-label>
        <input matInput type="number" formControlName="defaultSelectionDuration">
      </mat-form-field>
    </div>
  </div>
  <div class="mb-3">
    <mat-checkbox formControlName="irregularTimingEnabled">{{ 'irregular_timing' | t }}</mat-checkbox>
  </div>
  <div class="row mb-3">
    <div class="col-12 col-lg-3">
      <mat-form-field class="w-100">
        <mat-label>{{ 'active' | t }}</mat-label>
        <mat-select formControlName="irregularTimingActive">
          <mat-option [value]="true">{{ 'active' | t }}</mat-option>
          <mat-option [value]="false">{{ 'inactive' | t }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-12 col-lg-3">
      <mat-form-field class="w-100">
        <mat-label>{{ 'from' | t }}</mat-label>
        <input matInput formControlName="irregularTimingFrom" [matDatepicker]="fromDatePicker" required>
        <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #fromDatePicker></mat-datepicker>
        <mat-error>{{ errorMessages.required | t }}</mat-error>
      </mat-form-field>
    </div>
    <div class="col-12 col-lg-3">
      <mat-form-field class="w-100">
        <mat-label>{{ 'to' | t }}</mat-label>
        <input matInput formControlName="irregularTimingTo" [matDatepicker]="toDatePicker" required>
        <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #toDatePicker></mat-datepicker>
        <mat-error>{{ errorMessages.required | t }}</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="mb-3">
    <mat-checkbox formControlName="vipEnabled">{{ 'router_vip_bypass' | t }}</mat-checkbox>
  </div>
  <div class="row mb-3">
    <div class="col-12 col-lg-3">
      <mat-form-field class="w-100">
        <mat-label>{{ 'router_vip_destination' | t }}</mat-label>
        <input matInput type="text" formControlName="vipDestination">
      </mat-form-field>
    </div>
  </div>
  <div class="mb-3">
    <mat-checkbox formControlName="waitingRouterEnabled">{{ 'waiting_router' | t }}</mat-checkbox>
  </div>
  <div class="row">
    <div class="col-12 col-lg-3 mt-3">
      <mat-checkbox formControlName="queuePositionReading">{{ 'queue_position_reading' | t }}</mat-checkbox>
    </div>
    <div class="col-12 col-lg-3">
      <mat-form-field class="w-100">
        <mat-label>{{ 'queue_waiting_seconds' | t }}</mat-label>
        <input matInput type="number" formControlName="queueWaitingTime">
      </mat-form-field>
    </div>
    <div class="col-12 col-lg-3">
      <app-audio-input class="w-100"
        [placeholder]="'router_queue_file' | t"
        [fileTypes]="['wav']"
        [inputFile]="audioFile"
        (fileChange)="setFile($event)">
      </app-audio-input>
    </div>
  </div>
</div>
