LightBlackColor = #606060
DarkGreyColor = #afafaf
GreyColor = #f0f3f4
LightGreyColor = #f2f5f8
LighterGreyColor = #ebebeb
RedColor = #f44336
DarkRedColor = #8b0000
GreenColor = #00b100
DarkGreenColor = #004f00
DarkBlueColor = #141923
BlueColor = #37536a
AlphaBlueColor = #37536a59
LightBlueColor = #5681a5
LighterBlueColor = #65b1d2
LightColor = #fafafa
WhiteColor = #ffffff
MaterialGrey = rgba(0, 0, 0, .6)
