<div class="dialog-header">
  <span>{{ 'add_widget' | t }}</span>
  <i class="la la-times" mat-dialog-close></i>
</div>
<form [formGroup]="formGroup" #form="ngForm">
  <div class="row">
    <div class="col-12 col-sm-6 mb-3">
      <mat-form-field class="w-100">
        <mat-label>{{ 'name' | t }}</mat-label>
        <input matInput type="text" formControlName="name" required>
        <mat-error>{{ errorMessages.required | t }}</mat-error>
      </mat-form-field>
    </div>
    <div class="col-12 col-sm-6 mb-3">
      <mat-form-field class="w-100">
        <mat-label>{{ 'description' | t }}</mat-label>
        <input matInput type="text" formControlName="description">
      </mat-form-field>
    </div>
  </div>
  <div class="mb-3">
    <p class="f-18 bold light-black-text">{{ 'display_type' | t }}</p>
    <div class="d-flex">
      <div [ngClass]="{ 'active': formGroup.value.type === type }" (click)="setType(type)" class="widget-type ms-5" *ngFor="let type of types; let index = index">
        <div class="icon-container">
          <mat-icon class="mb-1">{{ typeIcons[index] }}</mat-icon>
        </div>
        <p class="bold">{{ (type + '_chart') | t }}</p>
      </div>
    </div>
  </div>
  <div class="mb-3">
    <p class="f-18 bold light-black-text">{{ 'data' | t }}</p>
    <div class="row">
      <div class="col-12 col-sm-4">
        <mat-form-field class="w-100">
          <mat-label>{{ 'data_world' | t }}</mat-label>
          <mat-select formControlName="module" (valueChange)="moduleChanged($event)" required>
            <mat-option *ngFor="let module of data.reportModules" [value]="module.id">{{ module.name | t }}</mat-option>
          </mat-select>
          <mat-error>{{ errorMessages.required | t }}</mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12 col-sm-4">
      <mat-form-field class="w-100">
        <mat-label>{{ 'select_column' | t }}</mat-label>
        <mat-select formControlName="column" required>
          <mat-option *ngFor="let column of columns" [value]="column.id">{{ column.name }}</mat-option>
        </mat-select>
        <mat-error>{{ errorMessages.required | t }}</mat-error>
      </mat-form-field>
    </div>
    <div class="col-12 col-sm-3">
      <mat-form-field class="w-100">
        <mat-select formControlName="calculationType">
          <mat-option *ngFor="let type of calculationTypes" [value]="type | lowercase">{{ type }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <ng-container *ngIf="formGroup.get('type').value === 'numerical'">
    <div class="row">
      <div class="col-12 col-sm-4">
        <mat-form-field class="w-100">
          <mat-label>{{ 'data_type' | t }}</mat-label>
          <mat-select formControlName="dataType">
            <mat-option *ngFor="let type of dataTypes" [value]="type">{{ type | t }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="mb-3">
      <p class="f-18 bold light-black-text">{{ 'conditional_design' | t }}</p>
      <div class="mb-3">
        <p class="bold light-black-text">{{ 'data_source' | t }}</p>
        <div class="row">
          <div class="col-12 col-sm-4">
            <mat-form-field class="w-100">
              <mat-label>{{ 'select_column' | t }}</mat-label>
              <mat-select formControlName="dataSource" required>
                <mat-option *ngFor="let column of columns" [value]="column.id">{{ column.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <app-conditional-design [formGroup]="formGroup.get('conditionalDesign')"></app-conditional-design>
    </div>
  </ng-container>
  <div>
    <button type="submit" class="ms-3 btn blue-btn">{{ 'save' | t }}</button>
  </div>
</form>


<!--  <div>-->
<!--    <p class="mb-3 f-18">{{ 'meter_limits' | t }}*</p>-->
<!--    <div class="row" formGroupName="meterLimits">-->
<!--      <div class="col-12 col-sm-3">-->
<!--        <mat-form-field class="w-100">-->
<!--          <mat-label>{{ 'lower_limit' | t }}</mat-label>-->
<!--          <input matInput type="text" formControlName="min">-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      <div class="col-12 col-sm-3">-->
<!--        <mat-form-field class="w-100">-->
<!--          <mat-label>{{ 'upper_limit' | t }}</mat-label>-->
<!--          <input matInput type="text" formControlName="max">-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--    </div>-->
<!--    <p class="mb-0 alert alert-danger d-block" [@fade]="form.submitted && formGroup.get('meterLimits').errors ? 'active' : 'inactive'">{{ errorMessages.required | t }}</p>-->
<!--  </div>-->
<!--  <div>-->
<!--    <p class="mb-3 f-18">{{ 'display_color' | t }}*</p>-->
<!--    <div class="row" formGroupName="color">-->
<!--      <div class="col-12 col-sm-3">-->
<!--        <mat-form-field class="w-100">-->
<!--          <mat-label>{{ 'from_value' | t }}</mat-label>-->
<!--          <input matInput type="text" formControlName="from">-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      <div class="col-12 col-sm-3">-->
<!--        <mat-form-field class="w-100">-->
<!--          <mat-label>{{ 'to_value' | t }}</mat-label>-->
<!--          <input matInput type="text" formControlName="to">-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      <div class="col-12 col-sm-3">-->
<!--        <mat-form-field class="w-100">-->
<!--          <mat-label>{{ 'color' | t }}</mat-label>-->
<!--          <input matInput type="color" formControlName="value">-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--    </div>-->
<!--    <p class="mb-0 alert alert-danger d-block" [@fade]="form.submitted && formGroup.get('color').errors ? 'active' : 'inactive'">{{ errorMessages.required | t }}</p>-->
<!--  </div>-->
