<div class="dialog-header">
  <span>{{ 'multiple_edit' | t }}</span>
  <i class="la la-times" mat-dialog-close></i>
</div>
<form (ngSubmit)="submit()" [formGroup]="formGroup">
  <p class="f-14">{{ 'selection' | t }}</p>
  <div class="d-flex checked-items">
    <div class="checked-item" *ngFor="let item of checkedItems; let index = index">
      <div class="ms-1 remove-item" (click)="removeItem(index)">
        <mat-icon>close</mat-icon>
      </div>
      <span class="blue-text">{{ item.name | truncate: 60 }}</span>
    </div>
  </div>
  <div class="border-bottom my-3"></div>
  <mat-form-field class="mt-5">
    <mat-label>{{ 'unique_schedule' | t }}</mat-label>
    <mat-select formControlName="uniqueSchedule">
      <mat-option>-------</mat-option>
      <mat-option *ngFor="let schedule of uniqueSchedules" [value]="schedule.id">{{ schedule.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <app-tags-input class="mt-5" [placeholder]="'tags' | t" [type]="'schedule'" formControlName="tags"></app-tags-input>
  <button type="submit" class="btn blue-btn mt-5">{{ 'update' | t }}</button>
</form>
