<div class="dialog-header">
  <span>{{ 'multiple_edit' | t }}</span>
  <i class="la la-times" mat-dialog-close></i>
</div>
<form (ngSubmit)="submit()" [formGroup]="formGroup">
  <app-checked-items [checkedItems]="checkedItems" (itemRemoved)="checkedItems = $event"></app-checked-items>
  <mat-form-field class="mt-3">
    <mat-label>{{ 'unique_schedule' | t }}</mat-label>
    <mat-select formControlName="uniqueSchedule">
      <mat-option>-------</mat-option>
      <mat-option *ngFor="let schedule of uniqueSchedules" [value]="schedule.id">{{ schedule.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <app-tags-input class="mt-3" [placeholder]="'tags' | t" [type]="'schedule'" formControlName="tags"></app-tags-input>
  <mat-checkbox class="mt-3 w-100" formControlName="forceEmpty">{{ 'force_empty_values' | t }}</mat-checkbox>
  <button type="submit" class="btn blue-btn mt-4">{{ 'update' | t }}</button>
</form>
