:host
  display: flex
  justify-content: center
  height: 100vh
  background-image: linear-gradient(to bottom, #37536a, #15466e)

#page
  display: flex
  align-items: center
  flex-direction: column
  width: 70%
  margin: 50px 0
  background: #fff
  border-radius: 5px
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.72)

  header
    margin: 20px 0 70px 0

  .logo
    margin-bottom: 70px
    font-size: 50px

  #main
    width: 310px

