.saved-message > mat-icon {
	font-size: 22px;
}

.saved-message > span {
	vertical-align: top;
}

#tableHeader, #tableHeader > :first-child {
  display: flex;
  align-items: center;
}

#tableHeader {
  margin-bottom: 20px;
  justify-content: space-between;
}

#searchContainer, #toggleFilters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10px;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #aeaeae;
}

#searchContainer {
  width: 280px;
  margin-left: 15px;
}

#searchContainer > input {
  border: none;
  background-color: inherit;
  outline: 0;
}

#searchContainer > input::placeholder {
  color: #000;
}

#searchContainer > div {
  display: flex;
}

#searchContainer mat-icon {
  color: #adadad;
  cursor: pointer;
}

#toggleFilters {
  cursor: pointer;
}

#toggleFilters > mat-icon {
  margin-left: 10px;
  background-color: #8d8d8d;
  border-radius: 4px;
  color: #fff;
}

#toggleFilters > span {
  color: #8d8d8d;
}

tr, th, ::ng-deep td {
  border: none !important;
  border-width: 0;
}

th {
  cursor: pointer;
}

.sort-container {
  display: flex;
  flex-direction: column;
  margin: 0 5px;
}

.triangle-up, .triangle-down {
  border: 6px solid transparent;
}

.triangle-up {
  margin-bottom: 2px;
  border-bottom: 6px solid #dbe0e6;
}

.triangle-down {
  margin-top: 2px;
  border-top: 6px solid #dbe0e6;
}

.triangle-up.selected {
  border-bottom-color: #5f5f5f;
}

.triangle-down.selected {
  border-top-color: #5f5f5f;
}

::ng-deep .table-hover tbody tr {
  cursor: pointer;
}

::ng-deep tr.checked > td {
	background-color: rgba(0, 0, 0, .075);
}

::ng-deep td {
	padding: 0.5rem;
	font-size: 14px;
}

::ng-deep .row-actions > a {
	text-decoration: none;
}

::ng-deep .row-actions i, ::ng-deep .row-icon {
	margin-left: 4px;
	cursor: pointer;
	font-size: 22px;
	vertical-align: middle;
}

::ng-deep .row-actions > img {
	height: 25px;
	width: 25px;
	cursor: pointer;
}

input:-webkit-autofill {
	-webkit-text-fill-color: #000;
}
