<div id="tableHeader">
  <div>
    <div id="searchContainer">
      <input [placeholder]="'search' | t" [(ngModel)]="criteria.keyword" (keyup)="search($event)">
      <div>
        <mat-icon *ngIf="criteria.keyword" (click)="resetSearch()">close</mat-icon>
        <mat-icon (click)="search()">search</mat-icon>
      </div>
    </div>
    <div *ngIf="activeSwitch">
      <mat-slide-toggle (change)="toggleActiveStatus($event.checked)" [checked]="isActive">{{ activeSwitch }}</mat-slide-toggle>
    </div>
  </div>
  <ng-content select=".data-table-menus"></ng-content>
</div>
<div [@slideToggle]="showFilters ? 'active' : 'inactive'">
  <app-side-filters [columns]="columns" (searchSubmitted)="extendedSearch($event)"></app-side-filters>
</div>
<p class="alert alert-success mb-3" *ngIf="savedItem">
  <span> {{ savedItem }}</span>
  <span>{{ 'saved_successfully' | t }}</span>
</p>
<table class="table table-striped" [ngClass]="{ 'table-hover': isSelectable }">
	<thead>
	<tr>
		<th *ngIf="hasCheckColumn" class="pointer table-header">
			<mat-checkbox (change)="checkAll($event.checked)" [ngModel]="criteria.isCheckAll" *ngIf="items.length > 0 && !disableCheckAll"></mat-checkbox>
		</th>
		<th *ngFor="let column of columns" (click)="sort(column)" class="table-header">
      <div class="d-flex align-items-center">
        <span>{{ column.label | t }}</span>
        <div class="sort-container">
          <div class="triangle-up" [ngClass]="{ selected: criteria.sort.column === column.name && criteria.sort.direction === 'ASC' }"></div>
          <div class="triangle-down" [ngClass]="{ selected: criteria.sort.column === column.name && criteria.sort.direction === 'DESC' }"></div>
        </div>
      </div>
		</th>
		<th class="table-header" *ngIf="hasActionsHeader"></th>
	</tr>
	</thead>
  <tbody>
    <ng-content></ng-content>
  </tbody>
</table>
<p *ngIf="items.length === 0" class="text-center bold">{{ isLoading ? ('loading' | t) + '...' : ('no_items_to_display' | t) }}</p>
<app-pagination [data]="paginationData" *ngIf="items.length > 0"></app-pagination>
