<div class="d-flex align-content-center justify-content-between">
  <p class="mb-3 mb-lg-0 text-center text-lg-right">
	  <span class="bold ms-2">{{ data.totalItems }}</span>
	  <span class="ms-3">{{ 'listings' | t }}</span>
	  <span>{{ 'page' | t }}</span>
	  <input class="me-3" [value]="data.currentPage" *ngIf="data.lastPage > 1">
	  <span class="me-1" *ngIf="data.lastPage === 1">{{ data.lastPage }}</span>
  </p>
	<button class="btn primary-btn" *ngIf="data.lastPage < data.currentPage">{{ 'previous_page' | t }}</button>
	<button class="btn primary-btn" *ngIf="data.lastPage > data.currentPage">{{ 'next_page' | t }}</button>
</div>
