@import '~src/assets/variables';

:host
  display: block
  min-width: 220px
  max-width: 280px

.player
  display: flex
  align-items: center
  justify-content: space-between
  padding: 10px
  border-radius: 40px
  background-color: #e0e0e0

  .mat-icon
    cursor: pointer

  #times
    direction: ltr

  #placeholder
    color: BlueColor

.file-name
  direction: ltr
  margin: 0
  text-align: center
  color: BlueColor
  font-size: 12px
